{% extends "ty_base.html" %}
{% block content %}
<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="autoerror"><br />
		<div class="panel panel-default">
			<div class="panel-heading">接口情况</div>
			<div class="panel-body">
				<form role="form" method="get" class='form-inline'>
					<input name="id" size="16" class="sr-only form-control" type="text" value="{{intID}}" readonly>
					<div class="form-group">
						<label for="dtp_input2" class='sr-only'>开始时间</label>
						<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="from_date" size="16"  class="form-control" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" />
					</div>
					<div class="form-group">
						<label for="dtp_input2" class='sr-only'>结束时间</label>
						<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="to_date" size="16"  class="form-control" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" />
					</div>
					<button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button> （默认最近一个月）
				</form>
			</div>
			<table class="table table-hover table-condensed table-bordered" >
				<tbody>
				{% for x in show_list %}
					<tr class="info">
						<th class="col-md-4">品类</th>
						<th class="col-md-6">接口名称</th>
						<th class="col-md-2">版本</th>
					</tr>
					<tr>
						<td>{{ x.type }}</td><td>{{ x.des }}</td><td>{{ x.version }}</td>
					</tr>
					<tr><td colspan=3>
						<div id="{{ x.method|slugify }}_res" style="height:300px"></div>
						<div id="{{ x.method|slugify }}_rpm" style="height:400px"></div>
					</td></tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	{% for v in show_list %}
	var myChart = echarts.init(document.getElementById('{{ v.method|slugify }}_res'));
	var myChart1 = echarts.init(document.getElementById('{{ v.method|slugify }}_rpm'));
	var {{ v.method|slugify }}_res = {
		title : {
			text: '{{ v.method }}',
			subtext: '服务器处理时间'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:['耗时']
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for x in v.time %}
				'{{ x.create_time }}',
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value'
			}
		],
		series : [
			{
				name:'响应时间',
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v.time %}
				{{ x.res }},
				{% endfor %}
				]
			},
		]
	};
	var {{ v.method|slugify }}_rpm = {
		title : {
			text: '{{ v.method }}',
			subtext: '调用情况'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:['调用量']
		},
		calculable : true,	// 手柄
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for x in v.time %}
				'{{ x.create_time }}',
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value'
			}
		],
		series : [
			{
				name:'调用量',
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {'color': '#2f4554','borderColor':'#2f4554'}}},
				data:[
				{% for x in v.time %}
				{{ x.rpm }},
				{% endfor %}
				]
			},
		]
	};

	myChart.setOption({{ v.method|slugify }}_res);
	myChart1.setOption({{ v.method|slugify }}_rpm);
	{% endfor %}
</script>

{% endblock %}
