{% extends "fc_base.html" %}
{% block content %}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">历史详情</div>
		<div class="panel-body">
		<h3>{{ name }}</h3>总量：{{datas|length}}<br>
        <a href='/YPFC/memView' class='btn btn-primary'>GoBack</a>
		</div>
		<table data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle" style="word-break:break-all;" class="table table-hover table-striped">
			<thead>
				<tr>
					<th style="width: 1%; " data-formatter="runningFormatter" data-field="ID">
						#
					</th>
					<th style="width: 1%; " data-field="时间" data-sortable="true">
						时间
					</th>
					<th style="width: 1%; " data-field="存入" data-sortable="true">
						存入
					</th>
					<th style="width: 1%; " data-field="支出" data-sortable="true">
						支出
					</th>
					<th style="width: 1%; " data-field="备注" data-sortable="true">
						备注
					</th>
				</tr>
			</thead>
			<tbody>
			{% for x in datas %}
				<tr>
				<td></td>
				<td>{{ x.timestamp }}</td>
				<td>{{ x.income }}</td>
				<td>{{ x.pay }}</td>
				<td>{{ x.des }}</td>
			{% endfor %}
			</tbody>
		</table>
		</div>
    </div>
</div>
{% endblock content %}
