{% extends "fc_base.html" %}
{% block content %}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"> 球员资金管理 VIP人数：{{vip_normal|length}}</div>
		<div class="panel-body">
        <a href='/YPFC/cashView' type='button' class='btn btn-primary'><span class="glyphicon glyphicon-plus"></span> 记账</a>
		</div>
		<table data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle" style="word-break:break-all;" class="table table-hover table-striped">
			<thead>
				<tr>
					<th style="width: 1%; " data-formatter="runningFormatter" data-field="ID">
						#
					</th>
					<th style="width: 1%; " data-field="NAME" data-sortable="true">
						NAME
					</th>
					<th style="width: 40%; " data-field="总收入" data-sortable="true">
						总收入
					</th>
					<th style="width: 1%; " data-field="总支出" data-sortable="true">
						总支出
					</th>
					<th style="width: 40%; " data-field="余额" data-sortable="true">
						余额
					</th>
					<th style="width: 1%; " data-field="状态" data-sortable="true">
						状态
					</th>
					<th style="width: 1%; " data-field="详情">
						详情
					</th>
				</tr>
			</thead>
			<tbody>
			{% for x in vip_normal %}
				<tr>
				<td style="width: 1%"></td>
				<td style="width: 1%">{{ x.name }}</td>
				<td style="width: 1%">{{ x.income }}</td>
				<td style="width: 40%">{{ x.pay }}</td>
				<td style="width: 40%">{{ x.balance }}</td>
				<td style="width: 1%"{% if x.status == '正常' %}class="success"{% elif x.status == '欠费' %}class="danger"{% else %}class="default"{% endif %}>{{ x.status }}</td>
				<td style="width: 40%"><a href='/YPFC/cashDetail/{{ x.name }}' class='btn btn-primary btn-sm'>详情</a></td>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading"> 欠费会员 人数：{{vip_loser|length}}</div>
		<div class="panel-body">
		</div>
		<table data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle" style="word-break:break-all;" class="table table-hover table-striped">
			<thead>
				<tr>
					<th style="width: 1%; " data-formatter="runningFormatter" data-field="ID">
						#
					</th>
					<th style="width: 1%; " data-field="NAME" data-sortable="true">
						NAME
					</th>
					<th style="width: 40%; " data-field="总收入" data-sortable="true">
						总收入
					</th>
					<th style="width: 1%; " data-field="总支出" data-sortable="true">
						总支出
					</th>
					<th style="width: 40%; " data-field="余额" data-sortable="true">
						余额
					</th>
					<th style="width: 1%; " data-field="状态" data-sortable="true">
						状态
					</th>
					<th style="width: 1%; " data-field="详情">
						详情
					</th>
				</tr>
			</thead>
			<tbody>
			{% for x in vip_loser %}
				<tr>
				<td style="width: 1%"></td>
				<td style="width: 1%">{{ x.name }}</td>
				<td style="width: 1%">{{ x.income }}</td>
				<td style="width: 40%">{{ x.pay }}</td>
				<td style="width: 40%">{{ x.balance }}</td>
				<td style="width: 1%"{% if x.status == '正常' %}class="success"{% elif x.status == '欠费' %}class="danger"{% else %}class="default"{% endif %}>{{ x.status }}</td>
				<td style="width: 40%"><a href='/YPFC/cashDetail/{{ x.name }}' class='btn btn-primary btn-sm'>详情</a></td>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"> 非会员 人数：{{no_vip|length}}</div>
		<div class="panel-body">
		</div>
		<table data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle" style="word-break:break-all;" class="table table-hover table-striped">
			<thead>
				<tr>
					<th style="width: 1%; " data-formatter="runningFormatter" data-field="ID">
						#
					</th>
					<th style="width: 1%; " data-field="NAME" data-sortable="true">
						NAME
					</th>
					<th style="width: 40%; " data-field="总收入" data-sortable="true">
						总收入
					</th>
					<th style="width: 1%; " data-field="总支出" data-sortable="true">
						总支出
					</th>
					<th style="width: 40%; " data-field="余额" data-sortable="true">
						余额
					</th>
					<th style="width: 1%; " data-field="状态" data-sortable="true">
						状态
					</th>
					<th style="width: 1%; " data-field="详情">
						详情
					</th>
				</tr>
			</thead>
			<tbody>
			{% for x in no_vip %}
				<tr>
				<td style="width: 1%"></td>
				<td style="width: 1%">{{ x.name }}</td>
				<td style="width: 1%">{{ x.income }}</td>
				<td style="width: 40%">{{ x.pay }}</td>
				<td style="width: 40%">{{ x.balance }}</td>
				<td style="width: 1%"{% if x.status == '正常' %}class="success"{% elif x.status == '欠费' %}class="danger"{% else %}class="default"{% endif %}>{{ x.status }}</td>
				<td style="width: 40%"><a href='/YPFC/cashDetail/{{ x.name }}' class='btn btn-primary btn-sm'>详情</a></td>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>
{% endblock content %}
