{% extends "fz_intbase.html" %} {% block content %}

<div class="panel panel-success">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-4">
				<div class="alert alert-success" role="alert">默认结果是当天生成的<br>测试时间：每天下午3点到4点，一共测试5次</div>
				<form role="form" method="get">
					<div class="form-group">
						<label for="dtp_input2">开始时间</label>
						<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="from_date" size="16" class="form-control" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" />
					</div>
					<div class="form-group">
						<label for="dtp_input2">结束时间</label>
						<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="to_date" size="16" class="form-control" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" />
					</div>
					<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 仿真环境 接口错误列表</div>
</div>

<ul class="nav nav-pills nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#auto200" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-remove"></span> code返回非1<span class="badge"> {{ err_200|length}}</span></a></li>
	<li role="presentation"><a href="#auto500" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> 500错误<span class="badge"> {{ err_500|length}}</span></a></li>
	<li role="presentation"><a href="#auto404" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-star"></span> 404错误<span class="badge"> {{ err_404|length}}</span></a></li>
	<li role="presentation"><a href="#auto1" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-flag"></span> 请求成功<span class="badge"> {{ succ_200|length}}</span></a></li>
</ul>
<div class="tab-content">

	<div role="tabpanel" class="tab-pane fade in active" id="auto200"><br />
		<div class="panel panel-default">
			<div class="panel-heading">错误汇总</div>
			<div class="panel-body">
				<table data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle">
					<thead>
						<tr class="info">
							<th data-field="HTTPCode" data-sortable="true" data-width="10%" style="word-break:break-all">HTTPCode</th>
							<th data-field="LogCode" data-sortable="true" data-width="10%" style="word-break:break-all">LogCode</th>
							<th data-field="Type" data-sortable="true" data-width="10%" >Type</th>
							<th data-field="method" data-sortable="true" data-width="10%" style="word-break:break-all">接口</th>
							<th data-field="des" data-sortable="true" data-width="10%" style="word-break:break-all">描述</th>
							<th data-field="URL" data-sortable="true" data-width="10%" style="word-break:break-all">URL</th>
							<th data-field="Error" data-sortable="true" data-width="10%" style="word-break:break-all">Error</th>
							<th data-field="Message" data-sortable="true" data-width="10%" style="word-break:break-all">Message</th>
						</tr>
					</thead>
					<tbody>
						{% for v in err_200 %}
						<tr>
							<td data-width="10%" style="word-break:break-all">{{ v.code }}</td>
							<td data-width="10%" style="word-break:break-all">{{ v.log_code }}</td>
							<td data-width="15%" style="word-break:break-all">{{ v.type }}</td>
							<td data-width="15%" style="word-break:break-all">{{ v.method_version }}</td>
							<td data-width="15%" style="word-break:break-all">{{ v.name }}</td>
							<td data-width="10%" style="word-break:break-all"><a type="button" class="btn btn-sm btn-primary" href='{{ v.url }}' target='_blank' data-toggle="tooltip" data-placement="bottom" title="{{ v.url }}">URL</a></td>
							<td data-width="10%" style="word-break:break-all"><a type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="{{ v.error }}">error</a></td>
							<td data-width="10%" style="word-break:break-all"><a type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="{{ v.message }}">message</a></td>
							{% endfor %}
					</tbody>
				</table>
				</table>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auto500"><br />
		<div class="panel panel-default">
			<div class="panel-heading">错误汇总</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed ">
					<thead>
						<tr class="info">
							<th class="col-sm-1">HTTPCode</th>
							<th class="col-sm-1">LogCode</th>
							<th class="col-sm-2">type</th>
							<th class="col-sm-2">接口</th>
							<th class="col-sm-2">描述</th>
							<th class="col-sm-1">URL</th>
							<th class="col-sm-1">DebugMsg</th>
						</tr>
					</thead>
					{% for v in err_500 %}
					<tr>
						<td>{{ v.code }}</td>
						<td>{{ v.log_code }}</td>
						<th style="word-break:break-all">{{ v.method_version }}</td>
						<td>{{ v.name }}</td>
						<td>{{ v.type }}</td>
						<td><a type="button" class="btn btn-sm btn-primary" href='{{ v.url }}' target='_blank' data-toggle="tooltip" data-placement="bottom" title="{{ v.url }}">URL</a></td>
						<td style="word-break:break-all"><a type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="{{ v.debugmsg }}">debugmsg</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auto404"><br />
		<div class="panel panel-default">
			<div class="panel-heading">错误汇总</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed ">
					<thead>
						<tr class="info">
							<th class="col-sm-1">HTTPCode</th>
							<th class="col-sm-1">LogCode</th>
							<th class="col-sm-2">type</th>
							<th class="col-sm-2">接口</th>
							<th class="col-sm-2">描述</th>
							<th class="col-sm-1">URL</th>
							<th class="col-sm-1">DebugMsg</th>
							<th class="col-sm-2">Error</th>
							<th class="col-sm-2">Message</th>
						</tr>
					</thead>
					{% for v in err_404 %}
					<tr>
						<td>{{ v.code }}</td>
						<td>{{ v.log_code }}</td>
						<th style="word-break:break-all">{{ v.method_version }}</td>
						<td>{{ v.name }}</td>
						<td><a type="button" class="btn btn-sm btn-primary" href='{{ v.url }}' target='_blank' data-toggle="tooltip" data-placement="bottom" title="{{ v.url }}">URL</a></td>
						<th style="word-break:break-all"><a type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="{{ v.debugmsg }}">debugmsg</a></td>
						<td>{{ v.error }}</td>
						<td>{{ v.message }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auto1"><br />
		<div class="panel panel-default">
			<div class="panel-heading">请求成功</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed ">
					<thead>
						<tr class="info">
							<th class="col-sm-1">HTTPCode</th>
							<th class="col-sm-1">LogCode</th>
							<th class="col-sm-2">TYPE</th>
							<th class="col-sm-2">接口</th>
							<th class="col-sm-2">描述</th>
							<th class="col-sm-1">URL</th>
							<th class="col-sm-2">Error</th>
							<th class="col-sm-2">Message</th>
						</tr>
					</thead>
					{% for v in succ_200 %}
					<tr>
						<td>{{ v.code }}</td>
						<td>{{ v.log_code }}</td>
						<td>{{ v.type }}</td>
						<th style="word-break:break-all">{{ v.method_version }}</td>
						<td>{{ v.name }}</td>
						<td><a type="button" class="btn btn-sm btn-primary" href='{{ v.url }}' target='_blank' data-toggle="tooltip" data-placement="bottom" title="{{ v.url }}">URL</a></td>
						<td>{{ v.error }}</td>
						<td>{{ v.message }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
