<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>驴妈自动化性能测试系统</title>
    <!-- Bootstrap -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
	{% load staticfiles %}
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
.x-goto-top{opacity:.9;z-index:999999;position:fixed;bottom:113px;right:1%;margin-left:40px;width:38px;height:38px;border-radius:3px;cursor:pointer;background-color:#f5f5f5;border:1px solid #0593d3}.x-goto-top:hover{background-color:#fafafa;border-color:#0482ba}.x-goto-top:hover div.x-arrow{border-bottom-color:#0482ba}.x-goto-top:hover div.x-stick{background-color:#0482ba}.x-goto-top div.x-arrow{position:absolute;left:10px;top:-1px;width:0;height:0;border:9px solid transparent;border-bottom-color:#0593d3}.x-goto-top div.x-stick{position:absolute;left:15px;top:15px;width:8px;height:14px;display:block;border-radius:1px;background-color:#0593d3}
</style>
  </head>
  <body>
    <div class="container"  id="top" style="padding-top:80px">

	      <!-- Jumbotron -->
	
      <div class="jumbotron" style="background-color:#fff">
	  <div class='text-center'>
        <h1>自动化性能测试</h1>
		<p class="lead">Even a small star shines in the darkness.</p>
      </div>
	  </div>
	  
	        <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-xs-3">
          <img class="img-circle" src="{% static 'int.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>接口性能</h2>
          <p>从公司内网每天无数次访问我们可爱的接口，统计它们的错误，耗时。从这里可以看到某一个接口某一段时间的表现，可惜的是，无法对所有接口做测试，比如下单、发短信等容易被投诉的事情我们不敢。</p>
          <p><a class="btn btn-danger" href="http://10.113.1.35:8000/intest/" target="_blank" role="button">GoGoGo &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-3">
          <img class="img-circle" src="{% static 'pic.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>图片性能</h2>
          <p>好吧，来看看我们页面中最多的图片能拖多少性能后腿...</p>
          <p><a class="btn btn-success" href="http://10.112.4.144:8080/htmlReport/lmmPicReport.html" target="_blank" role="button">Follow Me &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-3">
          <img class="img-circle" src="{% static 'css.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>CSS/JS性能</h2>
          <p>每日自动化测试配置列表中的页面，分析其中css和js资源的加载大小耗时等问题，展示出来让大家了解我们的页面资源加载究竟慢不慢，慢在哪里，当然，url可以配置，把你需要检测的url告诉我们的清扬童鞋。</p>
          <p><a class="btn btn-primary" href="http://10.112.4.144:8080/htmlReport/LMMcss_jsReport.html" target="_blank" role="button">This Way &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
		<div class="col-xs-3">
          <img class="img-circle" src="{% static 'tingyun.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>听云接口性能</h2>
          <p>我们只是听云数据的搬运工。展示最近半个月听云各接口的性能和访问量。</p>
          <p><a class="btn btn-warning" href="http://10.113.1.35:8000/tyreport/" target="_blank" role="button">Turn Right &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->      
	  <div class="row">
        <div class="col-xs-3">
          <img class="img-circle" src="{% static 'fz.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>仿真接口</h2>
          <p>仿真环境的接口测试</p>
          <p><a class="btn btn-default" href="http://10.113.1.35:8000/fz/" target="_blank" role="button">Come on &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
	   <hr>
		<div class="footer">
		<div class="media">
		<a class="media-left" href="#">
		<img src="{% static 'aboutLv.png' %}" class=" img-rounded" alt="Responsive image" style="height:14px">
		</a>
		<div class="media-body"><p>&copy; TestTeam 2016</p>
		</div>
		</div>
		</div>
	<!-- 
	<a class="x-goto-top" style="display: block;">
        <div class="x-arrow"></div>
        <div class="x-stick"></div>
    </a> -->
	
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<script>
	$(document).ready(function(){
		$('.x-goto-top').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);}); 
	})
	</script>
  </body>

</html>

