{% extends "ty_base.html" %}
{% block content %}
<h3>overview</h3>
<div class="row">
	<div class="col-xs-7">
		<div id="canvas-holder">
			<canvas id="chart-area1" /></canvas>
		</div>
	</div>
	<div class="col-xs-5">
		<h3>接口占比数据</h3><p>（近10次）</p>
		<table class="table table-hover table-condensed table-responsive">
		<thead>
		<tr class="info">
		<th>时间区间</th><th>毫秒级</th><th>1~2秒</th><th>2~3秒</th><th>3~4秒</th><th>4~5秒</th><th>5秒以上</th></tr></thead>
		<tbody>
		{% for i in show_list %}
		<TR><TD>{{i.des}}</TD>
		<TD>{{ i.zero_level}}%</TD>
		<TD>{{ i.one_level}}%</TD>
		<TD>{{ i.two_level}}%</TD>
		<TD>{{ i.three_level}}%</TD>
		<TD>{{ i.four_level}}%</TD>
		<TD>{{ i.five_level}}%</TD></TR>
		{% endfor %}
		</tbody></TABLE>
	</div>
</div>
<hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 崩溃率 </div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area2" /></canvas>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area3" /></canvas>
		</div>
	</div>
</div>
<hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 错误率 </div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area4"/></canvas>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area5"/></canvas>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area6"/></canvas>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area7"/></canvas>
		</div>
	</div>
</div>
<hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 主机响应时间 </div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area8"/></canvas>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area9"/></canvas>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area10"/></canvas>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area11"/></canvas>
		</div>
	</div>
</div><hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 应用交互响应 </div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area12"/></canvas>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="canvas-holder">
			<canvas id="chart-area13"/></canvas>
		</div>
	</div>
</div>
<script>
	var randomColorFactor = function() {
            return Math.round(Math.random() * 255);
        };
	var randomColor = function(opacity) {
		return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
	};
		
    var config1 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: '接口响应占比趋势',
				position: 'top'
            },
        },
        data: {
            labels: [
			{% for i in show_t_label %}
			"{{ i }}",
			{% endfor %}
            ],
            datasets: [
        {
            label: "毫秒",
            borderColor : "rgba(102,204,255,1)",
            borderCapStyle: 'butt',
            backgroundColor : "rgba(102,204,255,0.2)",
            pointBackgroundColor : "rgba(102,204,255,1)",
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
			data:[
			{% for i in show_list %}
			"{{ i.zero_level }}",
			{% endfor %}
			],
            fill:true,
        },{
            label: "1~2秒",
            borderColor : "rgba(102,204,102,1)",
            borderCapStyle: 'butt',
            backgroundColor : "rgba(102,204,102,0.3)",
            pointBackgroundColor : "rgba(102,204,102,1)",
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
			data:[
			{% for i in show_list %}
			"{{ i.one_level }}",
			{% endfor %}
			],
            fill:true,
        },{
            label: "2~3秒",
            borderColor : "rgba(241,196,15,1)",
            borderCapStyle: 'butt',
            backgroundColor : "rgba(241,196,15,0.4)",
            pointBackgroundColor : "rgba(241,196,15,1)",
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
			data:[
			{% for i in show_list %}
			"{{ i.two_level }}",
			{% endfor %}
			],
            fill:true,
        },{
            label: "3~4秒",
            borderColor : "rgba(255,204,51,1)",
            borderCapStyle: 'butt',
            backgroundColor : "rgba(255,204,51,0.5)",
            pointBackgroundColor : "rgba(255,204,51,1)",
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
			data:[
			{% for i in show_list %}
			"{{ i.three_level }}",
			{% endfor %}
			],
            fill:false,
        },{
            label: "4~5秒",
            borderColor : "rgba(255,153,51,1)",
            borderCapStyle: 'butt',
            backgroundColor : "rgba(255,153,51,0.6)",
            pointBackgroundColor : "rgba(255,153,51,1)",
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
			data:[
			{% for i in show_list %}
			"{{ i.four_level }}",
			{% endfor %}
			],
            fill:false,
        },{
            label: "5秒以上",
            borderColor : "rgba(255,102,51,1)",
            borderCapStyle: 'butt',
            backgroundColor : "rgba(255,102,51,0.7)",
            pointBackgroundColor : "rgba(255,102,51,1)",
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
			data:[
			{% for i in show_list %}
			"{{ i.five_level }}",
			{% endfor %}
			],
            fill:false,
        }]}};

    var config2 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Android崩溃趋势 | (3个月) | 单位:‰ | 标准4‰',
				position: 'top'
            },
			scales: {
				xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'timeline'
                    }
                }],
                yAxes: [{
                    display: true,
                    type: 'logarithmic',
                    scaleLabel: {
                        display: true,
                        labelString: '对数图'
                    }
                }]
			}
        },
        data: {
            labels: [
			{% for k in crash_t_list %}
			"{{ k }}",
			{% endfor %}
            ],
			datasets: [
				{% for k,v in crash_show_a.items %}
				{
				label: "{{ k }}",
				borderColor : randomColor(0.4),
				borderCapStyle: 'butt',
				backgroundColor : randomColor(0.5),
				pointBackgroundColor : randomColor(0.7),
				pointBorderColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: randomColor(0.5),
				data:[
				{% for x in v %}
					"{{ x }}",
				{% endfor %}
				],
				fill:true,
				},
				{% endfor %}
			]},
		};

    var config3 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Ios崩溃趋势 | (3个月) | 单位:‰ | 标准8‰',
				position: 'top'
            },
			scales: {
				xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'timeline'
                    }
                }],
                yAxes: [{
                    display: true,
                    type: 'logarithmic',
                    scaleLabel: {
                        display: true,
                        labelString: '对数图'
                    }
                }]
			}
        },
        data: {
            labels: [
			{% for k in crash_t_list %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in crash_show_ios.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
    var config4 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Android 自身服务错误率 | (5个月) | 单位：‰ | 标准12‰',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '‰'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in err_show_a_self.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
    var config5 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Android 第三方错误率 | (5个月) | 单位：‰ | 标准12‰',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '‰'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in err_show_a_other.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
	var config6 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'IOS 自身服务错误率 | (5个月) | 单位：‰ | 标准12‰',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '‰'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in err_show_ios_self.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
	var config7 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'IOS 第三方错误率 | (5个月) | 单位：‰ | 标准12‰',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '‰'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in err_show_ios_other.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
    var config8 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Android自身服务响应趋势 | (5个月) | 单位:s | 标准2s',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '秒'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
			datasets: [
				{% for k,v in res_show_a_self.items %}
				{
				label: "{{ k }}",
				borderColor : randomColor(0.4),
				borderCapStyle: 'butt',
				backgroundColor : randomColor(0.5),
				pointBackgroundColor : randomColor(0.7),
				pointBorderColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: randomColor(0.5),
				data:[
					{% for x in v %}
					"{{ x }}",
					{% endfor %}
				],
				fill:true,
				},
				{% endfor %}
			]},
		};

    var config9 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Android 第三方响应趋势 | (5个月) | 单位:s | 标准2s',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '秒'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in res_show_a_other.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
    var config10 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Ios 自身服务响应 | (5个月) | 单位：s | 标准2s',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '秒'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in res_show_ios_self.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
    var config11 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Ios 第三方错误率 | (5个月) | 单位：s | 标准2s',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '秒'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in res_show_ios_other.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
	var config12 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'Android交互响应趋势 | (5个月) | 单位：s | 标准0.4s',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '秒'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in err_show_ios_self.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};
		
	var config13 = {
        type: 'line',
		options: {
            responsive: true,
            legend: {
                display: true,
				position: 'bottom'
            },
			title: {
                display: true,
                text: 'IOS 应用交互响应 |交互响应趋势 | (5个月) | 单位：s | 标准0.4s',
				position: 'top'
            },
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: '时间轴'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '秒'
					},
				}]
			}
        },
        data: {
            labels: [
			{% for k in show_t_label %}
			"{{ k }}",
			{% endfor %}
            ],
            datasets: [
			{% for k,v in err_show_ios_other.items %}
			{
            label: "{{ k }}",
            borderColor : randomColor(0.4),
            borderCapStyle: 'butt',
            backgroundColor : randomColor(0.5),
            pointBackgroundColor : randomColor(0.7),
            pointBorderColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: randomColor(0.5),
			data:[
			{% for x in v %}
				"{{ x }}",
			{% endfor %}
			],
            fill:true,
			},
			{% endfor %}
        ]},
		};

	window.onload = function() {
        var ctx1 = document.getElementById("chart-area1").getContext("2d");
		var ctx2 = document.getElementById("chart-area2").getContext("2d");
		var ctx3 = document.getElementById("chart-area3").getContext("2d");
		var ctx4 = document.getElementById("chart-area4").getContext("2d");
		var ctx5 = document.getElementById("chart-area5").getContext("2d");
		var ctx6 = document.getElementById("chart-area6").getContext("2d");
		var ctx7 = document.getElementById("chart-area7").getContext("2d");
		var ctx8 = document.getElementById("chart-area8").getContext("2d");
		var ctx9 = document.getElementById("chart-area9").getContext("2d");
		var ctx10 = document.getElementById("chart-area10").getContext("2d");
		var ctx11 = document.getElementById("chart-area11").getContext("2d");
		var ctx12 = document.getElementById("chart-area12").getContext("2d");
		var ctx13 = document.getElementById("chart-area13").getContext("2d");
        window.myLine1 = new Chart(ctx1, config1);
		window.myLine2 = new Chart(ctx2, config2);
		window.myLine3 = new Chart(ctx3, config3);
		window.myLine4 = new Chart(ctx4, config4);
		window.myLine5 = new Chart(ctx5, config5);
		window.myLine6 = new Chart(ctx6, config6);
		window.myLine7 = new Chart(ctx7, config7);
		window.myLine8 = new Chart(ctx8, config8);
		window.myLine9 = new Chart(ctx9, config9);
		window.myLine10 = new Chart(ctx10, config10);
		window.myLine11 = new Chart(ctx11, config11);
		window.myLine12 = new Chart(ctx12, config12);
		window.myLine13 = new Chart(ctx13, config13);
		};
</script>
{% endblock content %}