{% extends "ty_base.html" %}
{% block content %}
<h3>概览图表</h3>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 接口占比 </div>
</div>
<div class="row">
	<div class="col-lg-9 col-md-12 col-sm-12 col-sx-12">
		<div id="area0" style="height:500px">
		</div>
	</div>
	<div class="col-lg-3 col-md-12 col-sm-12 col-sx-12">
		<h3>接口占比数据</h3>
		<table class="table table-hover table-condensed table-responsive">
		<thead>
		<tr class="info">
		<th>时间区间</th><th>毫秒级</th><th>1~2秒</th><th>2~3秒</th><th>3~4秒</th><th>4~5秒</th><th>5秒以上</th></tr></thead>
		<tbody>
		{% for i in show_list %}
		<TR><TD>{{i.des}}</TD>
		<TD>{{ i.zero_level}}%</TD>
		<TD>{{ i.one_level}}%</TD>
		<TD>{{ i.two_level}}%</TD>
		<TD>{{ i.three_level}}%</TD>
		<TD>{{ i.four_level}}%</TD>
		<TD>{{ i.five_level}}%</TD></TR>
		{% endfor %}
		</tbody></TABLE>
	</div>
</div>
<hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 崩溃率 </div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area1" style="height:500px">
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area2" style="height:500px">
		</div>
	</div>
</div>
<hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 错误率 </div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area3" style="height:500px">
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area4" style="height:500px">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area5" style="height:500px">
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area6" style="height:500px">
		</div>
	</div>
</div>
<hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 主机响应时间 </div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area7" style="height:500px">
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area8" style="height:500px">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area9" style="height:500px">
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area10" style="height:500px">
		</div>
	</div>
</div><hr>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 应用交互响应 </div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area11" style="height:500px">
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		 <div id="area12" style="height:500px">
		</div>
	</div>
</div>
<script>
	
	var myChart0 = echarts.init(document.getElementById('area0'));
	var myChart1 = echarts.init(document.getElementById('area1')); 
	var myChart2 = echarts.init(document.getElementById('area2'));  
	var myChart3 = echarts.init(document.getElementById('area3'));  
	var myChart4 = echarts.init(document.getElementById('area4'));  
	var myChart5 = echarts.init(document.getElementById('area5'));  
	var myChart6 = echarts.init(document.getElementById('area6'));  
	var myChart7 = echarts.init(document.getElementById('area7'));  
	var myChart8 = echarts.init(document.getElementById('area8'));  
	var myChart9 = echarts.init(document.getElementById('area9'));  
	var myChart10 = echarts.init(document.getElementById('area10'));  
	var myChart11 = echarts.init(document.getElementById('area11'));  
	var myChart12 = echarts.init(document.getElementById('area12'));  
    var option0 = {
		title : {
			text: '接口响应占比趋势',
			subtext: '包含网络时间的完整时间'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:['毫秒', '1-2秒', '2-3秒', '3-4秒', '4-5秒', '>5秒', ]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for i in show_t_label %}
				"{{ i }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} %'
				}
			}
		],
		series : [
				{
					name:'毫秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					markPoint : {
						data : [
							{type : 'max', name: '最大值'},
							{type : 'min', name: '最小值'}
						]
					},
					data:[
					{% for x in show_list %}
					"{{ x.zero_level }}",
					{% endfor %}
					]
				},
				{
					name:'1-2秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in show_list %}
					{{ x.one_level }},
					{% endfor %}
					]
				},
				{
					name:'2-3秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in show_list %}
					{{ x.two_level }},
					{% endfor %}
					]
				},
				{
					name:'3-4秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in show_list %}
					{{ x.three_level }},
					{% endfor %}
					]
				},
				{
					name:'4-5秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in show_list %}
					{{ x.four_level }},
					{% endfor %}
					]
				},
				{
					name:'>5秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in show_list %}
					{{ x.five_level }},
					{% endfor %}
					]
				},
			]
		};

    var option1 = {
				title : {
				text: 'Android崩溃趋势 测试开发期间会有较高的崩溃率，属正常情况',
				subtext: '| 标准<4‰ | 优秀<2‰ | 15年平均1.3‰ | 旅游行业指标2.1‰'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				y: 'bottom', // 'center' | 'bottom' | {number}
				data:[
				{% for k,v in crash_show_a.items %}
				"{{ k }}",
				{% endfor %}
				]
			},
			toolbox: {
				show : true,
				feature : {
					 mark : {
						show : true,
						title : {
							mark : '辅助线开关',
							markUndo : '删除辅助线',
							markClear : '清空辅助线'
						},
						lineStyle : {
							width : 2,
							color : '#1e90ff',
							type : 'dashed'
						}
					},
					dataView : {show: true, readOnly: false},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			xAxis : [
				{
					type : 'category',
					boundaryGap : false,
					data : [
					{% for k in crash_t_list %}
					"{{ k }}",
					{% endfor %}
					]
				}
			],
			yAxis : [
				{
					type : 'value',
					axisLabel : {
						formatter: '{value} ‰'
					}
				}
			],
			series : [
				{% for k,v in crash_show_a.items %}
				{
					name:"{{ k }}",
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in v %}
					"{{ x }}",
					{% endfor %}
					],
				},
				{% endfor %}
			]
		};
		
    var option2 = {
		title : {
			text: 'Ios崩溃趋势  测试开发期间会有较高的崩溃率，属正常情况',
			subtext: '| 标准<8‰ | 优秀<3‰ | 15年平均9.3‰ | 旅游行业指标8.5‰'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in crash_show_ios.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in crash_t_list %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
					axisLabel : {
						formatter: '{value} ‰'
					}
			}
		],
		series : [
			{% for k,v in crash_show_ios.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		],
	};
		
    var option3 = {
		title : {
			text: 'Android 自身服务错误率',
			subtext: '| 标准<12‰ | 优秀<8‰ | 旅游行业指标13.7‰'
		},
		tooltip : {
			trigger: 'axis'
		},
		grid:{
			y2: '20%',
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in err_show_a_self.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
					axisLabel : {
						formatter: '{value} ‰'
					}
			}
		],
		series : [
			{% for k,v in err_show_a_self.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
    var option4 = {
		title : {
			text: 'Android 第三方错误率',
			subtext: '| 标准<12‰ | 优秀<8‰ | 旅游行业指标13.7‰'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in err_show_a_other.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
					axisLabel : {
						formatter: '{value} ‰'
					}
			}
		],
		series : [
			{% for k,v in err_show_a_other.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
	var option5 = {
		title : {
			text: 'IOS 自身服务错误率',
			subtext: '| 标准<12‰ | 优秀<8‰ | 旅游行业指标11.8‰'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in err_show_ios_self.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
					axisLabel : {
						formatter: '{value} ‰'
					}
			}
		],
		series : [
			{% for k,v in err_show_ios_self.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
	var option6 = {
		title : {
			text: 'IOS 第三方错误率',
			subtext: '| 标准<12‰ | 优秀<8‰ | 旅游行业指标11.8‰'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in err_show_ios_other.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
					axisLabel : {
						formatter: '{value} ‰'
					}
			}
		],
		series : [
			{% for k,v in err_show_ios_other.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
    var option7 = {
		title : {
			text: 'Android自身服务响应趋势',
			subtext: '| 标准< 2s | 优秀 < 0.4s | 旅游行业首包 0.76s'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in res_show_a_self.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} 秒'
				}
			}
		],
		series : [
			{% for k,v in res_show_a_self.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};

    var option8 = {
		title : {
			text: 'Android第三方响应趋势',
			subtext: '| 标准< 2s | 优秀 < 0.4s | 旅游行业首包 0.76s'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in res_show_a_other.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} 秒'
				}
			}
		],
		series : [
			{% for k,v in res_show_a_other.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
    var option9 = {
		title : {
			text: 'Ios 自身服务响应趋势',
			subtext: '| 标准< 2s | 优秀 < 0.4s | 旅游行业首包 0.76s'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in res_show_ios_self.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} 秒'
				}
			}
		],
		series : [
			{% for k,v in res_show_ios_self.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
    var option10 = {
		title : {
			text: 'Ios 第三方服务响应趋势',
			subtext: '| 标准< 2s | 优秀 < 0.4s | 旅游行业首包 0.76s'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in res_show_ios_other.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} 秒'
				}
			}
		],
		series : [
			{% for k,v in res_show_ios_other.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
	var option11 = {
		title : {
			text: 'Android交互响应趋势',
			subtext: '| 标准 < 0.4s | 优秀 < 0.3s'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in view_show_a.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} 秒'
				}
			}
		],
		series : [
			{% for k,v in view_show_a.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};
		
	var option12 = {
		title : {
			text: 'IOS应用交互响应',
			subtext: '| 标准 < 0.4s | 优秀 < 0.3s'
		},
		grid:{
			y2: '20%',
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			y: 'bottom', // 'center' | 'bottom' | {number}
			data:[
			{% for k,v in view_show_ios.items %}
			"{{ k }}",
			{% endfor %}
			]
		},
		toolbox: {
			show : true,
			feature : {
				 mark : {
					show : true,
					title : {
						mark : '辅助线开关',
						markUndo : '删除辅助线',
						markClear : '清空辅助线'
					},
					lineStyle : {
						width : 2,
						color : '#1e90ff',
						type : 'dashed'
					}
				},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
				{% for k in show_t_label %}
				"{{ k }}",
				{% endfor %}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} 秒'
				}
			}
		],
		series : [
			{% for k,v in view_show_ios.items %}
			{
				name:"{{ k }}",
				type:'line',
				smooth:true,
				itemStyle: {normal: {areaStyle: {type: 'default'}}},
				data:[
				{% for x in v %}
				"{{ x }}",
				{% endfor %}
				],
			},
			{% endfor %}
		]
	};

	myChart0.setOption(option0);
	myChart1.setOption(option1);    
	myChart2.setOption(option2);    
	myChart3.setOption(option3);    
	myChart4.setOption(option4);    
	myChart5.setOption(option5);    
	myChart6.setOption(option6);    
	myChart7.setOption(option7);    
	myChart8.setOption(option8);    
	myChart9.setOption(option9);    
	myChart10.setOption(option10);    
	myChart11.setOption(option11);    
	myChart12.setOption(option12);
</script>
{% endblock content %}