{% extends "auto_base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="panel panel-black">
        <div class="panel-heading"> 用例查询 </div>
		<div class="panel-body">
            <div id="getMyDevice">
                <!-- 设备列表 -->
                <div class="btn-group btn-group-sm">
                    <button class='btn btn-sm btn-success' disabled>空闲</button>
                    <button class='btn btn-sm btn-warning' disabled>办理中</button>
                    <button class='btn btn-sm btn-danger' disabled>排队中</button>
                </div>
                <br><br>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#ad" aria-controls="ad" role="tab" data-toggle="tab">Android 测试机</a></li>
                  <li role="presentation"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab">iOS 测试机</a></li>
                  <li role="presentation"><a href="#mm" aria-controls="mm" role="tab" data-toggle="tab">M站 测试机</a></li>
                  <li role="presentation"><a href="#pc" aria-controls="pc" role="tab" data-toggle="tab">PC 测试机</a></li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="ad">
                      <br>
                      {% for x in device_list %}
                        {% if x.platformName == 'Android'%}
                          <a type='submit' name='{{x.platformName}}' class='btn btn-sm {% if x.queue %}btn-danger{% elif x.status %}btn-warning{% elif x.broken %}btn-default{% else %}btn-success
                          {% endif %} getCases' {% if x.broken %}disabled="disabled"{% endif %}>{{ x.deviceName }}#{{ x.appVersion }}</a>
                          {%endif%}
                      {% endfor %}
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ios">
                      <br>
                      {% for x in device_list %}
                          {% if x.platformName == 'iOS'%}
                          <a type='submit' name='{{x.platformName}}' class='btn btn-sm {% if x.queue %}btn-danger{% elif x.status %}btn-warning{% elif x.broken %}btn-default{% else %}btn-success
                          {% endif %} getCases' {% if x.broken %}disabled="disabled"{% endif %}>{{ x.deviceName }}#{{ x.appVersion }}</a>
                          {%endif%}
                      {% endfor %}
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="mm">
                      <br>
                      {% for x in device_list %}
                          {% if x.platformName == 'M'%}
                          <a type='submit' name='{{x.platformName}}' class='btn btn-sm {% if x.queue %}btn-danger{% elif x.status %}btn-warning{% elif x.broken %}btn-default{% else %}btn-success
                          {% endif %} getCases' {% if x.broken %}disabled="disabled"{% endif %}>{{ x.deviceName }}#{{ x.appVersion }}</a>
                          {%endif%}
                      {% endfor %}
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="pc">
                      <br>
                      {% for x in device_list %}
                          {% if x.platformName == 'PC'%}
                          <a type='submit' name='{{x.platformName}}' class='btn btn-sm {% if x.queue %}btn-danger{% elif x.status %}btn-warning{% elif x.broken %}btn-default{% else %}btn-success
                          {% endif %} getCases' {% if x.broken %}disabled="disabled"{% endif %}>{{ x.deviceName }}#{{ x.appVersion }}</a>
                          {%endif%}
                      {% endfor %}
                  </div>
                </div>
            </div>
            <hr>
            <!-- Search -->
            <form id="my_form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="caseId">用例ID</label>
                            <input type="text" class="form-control input-sm" id="caseId" placeholder="想要模糊匹配多个，请以+隔开，比如 1+2 表示所有id包含1或2的">
                        </div>
                        <div class="form-group">
                            <label for="plantform">平台</label>
                            <select multiple class="form-control input-sm" id="plantform" placeholder="平台">
                                {% for x in platform %}
                                <option>{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="owner">所属人</label>
                            <select multiple class="form-control input-sm" size="8" id="owner" placeholder="所属人">
                                {% for x in user_list %}
                                <option>{{ x.userName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="caseName">用例名称</label>
                            <input type="text" class="form-control input-sm" id="caseName" placeholder="想要模糊匹配多个，请以+隔开">
                        </div>
                        <div class="form-group">
                            <label for="caseType">用例品类</label>
                            <select multiple class="form-control input-sm" id="caseType" size="8" placeholder="用例品类">
                                {% for x in type_all %}
                                <option>{{ x.type_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="version">版本</label>
                            <select multiple class="form-control input-sm" size="8" id="version" placeholder="版本">
                                {% for x in versionList %}
                                <option>{{ x.versionStr }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="note">备注</label>
                            <input type="text" class="form-control input-sm" id="note" placeholder="想要模糊匹配多个，请以+隔开，比如 成功+通过">
                        </div>
                        <div class="form-group">
                            <label for="memGroup">小组</label>
                            <select multiple class="form-control input-sm" id="memGroup" size="8" placeholder="小组">
                                {% for x in memGroup %}
                                <option value='{{x.id}}'>{{ x.groupName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" id="Search"><span class="glyphicon glyphicon-search"></span> Search</a>
                    <button type="button" class="btn btn-default" id="Reset"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                </div>
                <p class="text-block text-primary">Ctrl + 鼠标点击可以 多选/取消选中; 什么都不选搜全部用例</p>
            </form>
            <hr>
            <!-- 删除确认 -->
            <div id='delconfirm' class="alert alert-default alert-dismissible fade in" role="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <h4 id='titleee'>信息确认</h4><br>
                <li id='del_mess' class="list-group-item list-group-item-danger">
                    {% for x in delcase %}
                    {{ x }}
                    {% endfor %}
                </li>
                <p id='del_butt'>
                    <button type="button" class="btn btn-danger" id="delSure">Just Do it!</button>
                    <button type="button" class="btn btn-default" id="cancle">Cancle</button>
                </p>
            </div>
            <!-- 添加用例集 -->
            <div  id='makeconfirm' style="display:none">
                <div class="alert alert-default alert-dismissible fade in row" role="alert">
                    <h4 id='titleee'>设置用例集</h4>
                    <div class="form-group">
                        <label for="check" class="col-sm-2 control-label">设置用例集</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="editable-select-m form-control input-sm" id="gourpName" required>
                                    <option></option>
                                    {% for x in casegroup %}
                                    <option>{{ x.groupName }}</option>
                                    {% endfor %}
                                </select>
                                <span id="helpBB" class="help-block">选择加入某个已有用例集 或 输入新用例集名称新建</span>
                            </div>
                            <div class="form-group">
                                <select class="editable-select-m form-control input-sm" id="groupVersion" required>
                                    <option></option>
                                    {% for x in versionList %}
                                    <option>{{x.versionStr}}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block">如果 选择了 新建用例集 请选择对应版本号</span>
                            </div>
                        </div>
                    </div>
                    <div id='make_butt'>
                        <button type="button" class="btn btn-success btn-sm" id="makeSure">确定</button>
                        <button type="button" class="btn btn-default btn-sm" id="makecancle">Cancle</button>
                    </div><br>
                </div>
                <p id='make_mess' class='bg-danger text-center'></p>
            </div>
            <br>
            <!-- 结果列表 -->
            <div id="my_table"></div>
        </div>
	</div>
</div>
<script>
    // 搜索
    $("#Search").click(function(){
        if ($("#caseId").val()){caseId = $("#caseId").val().split("+");}else{caseId = null};
        if ($("#caseName").val()){caseName = $("#caseName").val().split("+");}else{caseName = null};
        if ($("#caseType").val()){caseType = $("#caseType").val();}else{caseType = null};
        if ($("#plantform").val()){plantform = $("#plantform").val();}else{plantform = null};
        if ($("#version").val()){version = $("#version").val();}else{version = null};
        if ($("#owner").val()){owner = $("#owner").val();}else{owner = null};
        if ($("#note").val()){note = $("#note").val().split("+");}else{note = null};
        if ($("#memGroup").val()){memGroup = $("#memGroup").val();}else{memGroup = null};

        $.get("{% url 'searchResult' %}",{'caseId':caseId,'caseName':caseName,'caseType':caseType,'plantform':plantform,'version':version,'owner':owner,'note':note,'memGroup':memGroup}, function(ret){
            $("#my_table").html(ret)
        })
    });
    // form reset
    $("#Reset").click(function(){
        $('#my_form')[0].reset()
    });
</script>
<script src="{% static 'js/getDeviceStatus.js' %}"></script>
{% endblock content %}
