{% extends "auto_base.html" %}
{% block content %}
<div class="row">
    <div class="panel panel-black">
        <div class="panel-heading"> 用例查询 </div>
		<div class="panel-body">
            <form id="my_form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="caseId">用例ID</label>
                            <input type="text" class="form-control input-sm" id="caseId" placeholder="想要模糊匹配多个，请以+隔开，比如 1+2 表示所有id包含1或2的">
                        </div>
                        <div class="form-group">
                            <label for="caseName">用例名称</label>
                            <input type="text" class="form-control input-sm" id="caseName" placeholder="想要模糊匹配多个，请以+隔开">
                        </div>
                        <div class="form-group">
                            <label for="caseType">用例品类</label>
                            <select multiple class="form-control input-sm" id="caseType" placeholder="用例品类">
                                {% for x in type_list %}
                                <option>{{ x.type_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="plantform">平台</label>
                            <select multiple class="form-control input-sm" id="plantform" placeholder="平台">
                                {% for x in plant %}
                                <option>{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="version">版本</label>
                            <select multiple class="form-control input-sm" id="version" placeholder="版本">
                                {% for x in versionList %}
                                <option>{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="owner">所属人</label>
                            <select multiple class="form-control input-sm" id="owner" placeholder="所属人">
                                {% for x in user_list %}
                                <option>{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="note">备注</label>
                            <input type="text" class="form-control input-sm" id="note" placeholder="想要模糊匹配多个，请以+隔开，比如 成功+通过">
                        </div>
                    </div>
                </div>
                <hr>
                <p class="text-block text-primary">搜索使用说明：Ctrl + 鼠标点击可以多选，选中的在Ctrl + 鼠标点击可取消选中，什么都不选搜全部用例</p>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" id="Search"><span class="glyphicon glyphicon-search"></span> Search</a>
                    <button type="button" class="btn btn-default" id="Reset"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                </div>
            </form>
            <hr / >
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#ad" aria-controls="ad" role="tab" data-toggle="tab">Android 测试机</a></li>
              <li role="presentation"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab">iOS 测试机</a></li>
              <li role="presentation"><a href="#mm" aria-controls="mm" role="tab" data-toggle="tab">M站 测试机</a></li>
              <!-- <li role="presentation"><a href="#jj" aria-controls="jj" role="tab" data-toggle="tab">Jenkins</a></li> -->
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="ad">
                  <br>
                  {% for x in device_list %}
                      {% if x.platformName == 'Android'%}
                      <a type='submit' name='{{x.platformName}}' class="btn btn-success btn-sm getCases">AD#{{ x.deviceName }}#{{ x.appVersion }}</a>
                      {%endif%}
                  {% endfor %}
              </div>
              <div role="tabpanel" class="tab-pane fade" id="ios">
                  <br>
                  {% for x in device_list %}
                      {% if x.platformName == 'iOS'%}
                      <a type='submit' name='{{x.platformName}}' class="btn btn-success btn-sm getCases">iOS#{{ x.deviceName }}#{{ x.appVersion }}</a>
                      {%endif%}
                  {% endfor %}
              </div>
              <div role="tabpanel" class="tab-pane fade" id="mm">
                  <br>
                  {% for x in device_list %}
                      {% if x.platformName == 'M'%}
                      <a type='submit' name='{{x.platformName}}' class="btn btn-success btn-sm getCases">M站#{{ x.deviceName }}#{{ x.appVersion }}</a>
                      {%endif%}
                  {% endfor %}
              </div>
            </div><hr>
            <div class="btn-group btn-group-sm pull-right">
                <a href='/auto/new_add' type='button' class='btn btn-primary'><span class="glyphicon glyphicon-plus xwcms"></span> 新增用例</a>
                <button type="submit" class="btn btn-primary" id="makeGroup"><span class="glyphicon glyphicon-plus xwcms" aria-hidden="true"></span> 添加到用例集</button>
                <button type="submit" class="btn btn-warning" id="exCases"><span class="glyphicon glyphicon-flag xwcms" aria-hidden="true"></span> 置为过期</button>
                <button type="submit" class="btn btn-danger" id="delCases"><span class="glyphicon glyphicon-remove xwcms" aria-hidden="true"></span> 批量删除</button>
                <a href="/auto/test_list" type='button' class='btn btn-default' target="_blank"><i class="fa fa-bullhorn xwcms"></i> 测试报告</a>
            </div>
            <div id='delconfirm' class="alert alert-default alert-dismissible fade in" role="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <h4 id='titleee'>信息确认</h4><br>
                <li id='del_mess' class="list-group-item list-group-item-warning">
                    {% for x in delcase %}
                    {{ x }}
                    {% endfor %}
                </li>
                <p id='del_butt'>
                    <button type="button" class="btn btn-danger" id="delSure">Just Do it!</button>
                    <button type="button" class="btn btn-default" id="cancle">Cancle</button>
                </p>
            </div>
            <div id='makeconfirm' class="alert alert-default alert-dismissible fade in row" role="alert" style="display:none">
                <p id='make_mess' class='bg-danger'></p>
                <h4 id='titleee'>设置用例集</h4>
                <div class="form-group">
                    <label for="check" class="col-sm-2 control-label">设置用例集</label>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="editable-select-m form-control input-sm" id="gourpName">
                                <option></option>
                                {% for x in casegroup %}
                                <option>{{ x.groupName }}</option>
                                {% endfor %}
                            </select>
                            <span id="helpBB" class="help-block">选择加入某个已有用例集 或 输入新用例集名称新建</span>
                        </div>
                        <div class="form-group">
                            <select class="editable-select-m form-control input-sm" id="groupVersion">
                                <option></option>
                                {% for x in versionList %}
                                <option>{{x}}</option>
                                {% endfor %}
                            </select>
                            <span class="help-block">如果 选择了 新建用例集 请选择对应版本号</span>
                        </div>
                    </div>
                </div>
                <div id='make_butt'>
                    <button type="button" class="btn btn-success btn-sm" id="makeSure">确定</button>
                    <button type="button" class="btn btn-default btn-sm" id="makecancle">Cancle</button>
                </div><br>
            </div>

            <br>
            <div id="my_table"></div>
        </div>
	</div>
</div>
<script>
    // jenkins json data
    $(document).ready(function(){
        $(".getCases").click(function(){
            var valArr = new Array;
                plantArr = new Array;
                device = $(this).html().split('#')[1];
                plat = $(this).attr('name');
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = $(this).parent().next().text();
                plantArr[i] = $(this).parent().next().next().next().next().next().text();
            });
            var vals = valArr.join(',');//转换为逗号隔开的字符串
            $('#delconfirm').fadeIn(1000);
            console.log(plantArr.length, plantArr)
            for(var i=0;i<plantArr.length;i++){
                if(plantArr[i]==plat){
                    var pass = 'pass';
                }else{
                    var pass = 'no';
                    break;
                }
            }
            console.log(device, vals, plantArr, plat, pass)
            if(vals){
                if(pass=='pass'){
                    $.get("/auto/auto_config",{'vals':vals,'device':device,'type':'single','isDay':''})
                    $('#titleee').text('构建确认');
                    $("#del_mess").text('构建中');
                    $('#delconfirm').fadeOut(2000);
                }else{
                    $('#titleee').text('构建确认');
                    $("#del_mess").text('所选用例的平台和当前构建设备不匹配，iOS用例就选iOS构建，不要混用');
                    $('#del_butt').fadeOut(0);
                }
            }else{
                // 提示并隐藏button
                $('#titleee').text('构建确认');
                $("#del_mess").text('请先选择用例');
                $('#del_butt').fadeOut(0);
            }

            //
        });
    });

    $(document).ready(function(){
        $("#delCases").click(function(){
            var valArr = new Array;
                valArr1 = new Array;
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = $(this).parent().next().text();
                valArr1[i] = $(this).parent().next().next().text();
            });
            var vals = valArr.join(','); // 转换为逗号隔开的字符串
            var vals1 = valArr1.join('<br/>');
            $('#delconfirm').fadeIn(1000);
            if(vals){
                // 提示要删除的用例，并显示button
                message = '删除:<br/>' + vals1;
                $("#del_mess").html(message);
                $('#del_butt').fadeIn(500);
                $("#delSure").click(function(){
                    $.get("/auto/auto_del",{'id':vals}, function(data,status){
                        if (status == 'success' && data == 'success') {
                            $("#del_mess").text('删除成功');
                        //提交失败的操作
                        } else {
                            $("#del_mess").text('已删除或删除失败，请联系管理员');
                        };
                    window.location.reload();
                    // $('#delconfirm').fadeOut(3000);
                    });
                })
            }else{
                // 提示并隐藏button
                $("#del_mess").text('请先选择用例');
                $('#del_butt').fadeOut(0);
                $('#delconfirm').fadeOut(1000);
            }
        });
    });

    $(document).ready(function(){
        $("#exCases").click(function(){
            var valArr = new Array;
                valArr1 = new Array;
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = $(this).parent().next().text();
                valArr1[i] = $(this).parent().next().next().text();
            });
            var vals = valArr.join(','); // 转换为逗号隔开的字符串
            var vals1 = valArr1.join('<br/>');
            $('#delconfirm').fadeIn(1000);
            if(vals){
                // 提示要删除的用例，并显示button
                message = '<h3>置为过期:</h3><br/>' + vals1;
                $("#del_mess").html(message);
                $('#del_butt').fadeIn(500);
                $("#delSure").click(function(){
                    $.get("/auto/auto_ex",{'id':vals}, function(data,status){
                        if (status == 'success' && data == 'success') {
                            $("#del_mess").text('重置成功');
                        //提交失败的操作
                        } else {
                            $("#del_mess").text('重置失败');
                        };
                    window.location.reload();
                    });
                })
            }else{
                // 提示并隐藏button
                $("#del_mess").text('请先选择用例');
                $('#del_butt').fadeOut(0);
                $('#delconfirm').fadeOut(1000);
            }
        });
    });

    $(document).ready(function(){
        $("#cancle").click(function(){
            $('#delconfirm').fadeOut(500)
        });
    });

    $(document).ready(function(){
        $("#makeGroup").click(function(){
            var valArr = new Array;
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = $(this).parent().next().text();
            });
            var vals = valArr.join(','); // 转换为逗号隔开的字符串
            if(vals){
                $('#make_mess').text('');
                $('#makeconfirm').fadeIn(0);
                $('.editable-select-m').editableSelect({ filter: true });
                $('#make_butt').fadeIn(500);
                $("#makeSure").click(function(){
                    var groupName = $('#gourpName').val()
                        groupVersion = $('#groupVersion').val()
                        valArrr = new Array;
                    $('input[name="btSelectItem"]:checked').each(function(i){
                        valArr[i] = $(this).parent().next().text();
                    });
                    var vals = valArr.join(','); // 转换为逗号隔开的字符串
                    $.get("/auto/auto_makeGroup",{'id':vals,'groupName':groupName,'groupVersion':groupVersion}, function(data,status){
                        if (status == 'success' && data == 'success') {
                            $("#make_mess").text('成功');
                        //提交失败的操作
                        } else {
                            $("#make_mess").text('失败，请联系管理员');
                        };
                    });
                    console.log(vals, groupName)
                });
            }else{
                $("#make_mess").text('请先选择用例');
                $('#makeconfirm').fadeIn(0);
                $('#makeconfirm').fadeOut(2000);
            }
        });
    });

    $(document).ready(function(){
        $("#makecancle").click(function(){
            $('#makeconfirm').fadeOut(500)
        });
    });
</script>
<script>
    $(document).ready(function(){
      $("#Search").click(function(){
        if ($("#caseId").val()){caseId = $("#caseId").val().split("+");}else{caseId = null};
        if ($("#caseName").val()){caseName = $("#caseName").val().split("+");}else{caseName = null};
        if ($("#caseType").val()){caseType = $("#caseType").val();}else{caseType = null};
        if ($("#plantform").val()){plantform = $("#plantform").val();}else{plantform = null};
        if ($("#version").val()){version = $("#version").val();}else{version = null};
        if ($("#owner").val()){owner = $("#owner").val();}else{owner = null};
        if ($("#note").val()){note = $("#note").val().split("+");}else{note = null};
        // console.log(caseId,caseName,caseType,plantform,version,owner,note)

        $.get("{% url 'search_result' %}",{'caseId':caseId,'caseName':caseName,'caseType':caseType,'plantform':plantform,'version':version,'owner':owner,'note':note}, function(ret){
            $("#my_table").html(ret)
        })
      });
    });

    $(document).ready(function(){
      $("#Reset").click(function(){
          $('#my_form')[0].reset()
      });
    });
</script>
{% endblock content %}
