{% load staticfiles %}
<span class="label label-primary">共计 {{ show_list|length }} 条</span>
<table id="tableList" data-toggle="table" data-striped="true" data-show-columns="true" data-row-style="rowStyle" style="word-break:break-all;"  data-click-to-select="true" data-query-params="queryParams" data-search="true">
	<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>
			<th data-field="ID" class="col-xs-1"> ID</th>
			<th data-field="用例名称" data-sortable="true" class="col-xs-2">
				用例名称
			</th>
			<th data-field="品类" data-sortable="true" class="col-xs-1">
				品类
			</th>
			<th data-field="版本" data-sortable="true" class="col-xs-1">
				版本
			</th>
			<th data-field="平台" data-sortable="true" class="col-xs-1">
				平台
			</th>
			<th data-field="所属" data-sortable="true" class="col-xs-1">
				所属
			</th>
			<th data-field="备注" data-sortable="true" class="col-xs-1">
				备注
			</th>
			<th data-field="状态" data-sortable="true" class="col-xs-1">
				状态
			</th>
			<th data-field="修改时间" data-sortable="true" class="col-xs-2">
				修改时间
			</th>
			<th data-field="操作" data-sortable="true" class="col-xs-2">
				操作
			</th>
		</tr>
	</thead>
	<tbody id="list">
	{% for x in show_list %}
	<tr>
		<td></td>
		<td>{{ x.id }}</td>
		<td><div name="caseName">{{ x.caseName }}</div></td>
		<td>{{ x.type_field }}</td>
		<td>{{ x.version }}</td>
		<td>{{ x.plantform }}</td>
		<td>{{ x.owner }}</td>
		<td>{{ x.des }}</td>
		<td>{% if x.in_use == '1' %}<span class='label label-success'>在用</span>{% else %}<span class='label label-danger'>废弃</span>{% endif %}</td>
		<td>{{ x.modify_time|date:"Y-m-d H:i:s" }}</td>
		<td><a type='button' class="btn btn-sm btn-default" href="/auto/new_edit/{{ x.id }}/"><span class="glyphicon glyphicon-pencil xwcms" aria-hidden="true"></span> 编辑</a>
			<button type="submit" class="btn btn-default btn-sm" data-index="{{ x.id }}" data-toggle="modal" data-target="#copyModal"><span class="glyphicon glyphicon-camera xwcms" aria-hidden="true"></span> 复制</button>
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
<script>
	var $table = $('#tableList');
	$(function () {
		$table.on('click-row.bs.table', function (e, row, $element) {
				$($element).toggleClass('success');
		});
	});
</script>
