{% extends "auto_base.html" %} {% block content %}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"> 添加用例 </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method='GET' action="/auto/auto_edit_save/{{ id }}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="caseName" class="col-sm-2 control-label" readonly></label>
                    <div class="col-sm-10"><strong class="text-danger">带 <strong class="text-danger">*</strong> 为必填项</strong></div>
                </div>
                <div class="form-group">
                    <label for="caseName" class="col-sm-2 control-label">用例名称 <strong class="text-danger">*</strong> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control focus input-sm" name="caseName" autofocus="autofocus" placeholder="格式建议：品类-用例名" required="required" value="{{ json_dict.caseName }}" readonly/>
                    </div>
                </div>
                <!-- 品类 -->
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">品类 <strong class="text-danger">*</strong> </label>
                    <div class="col-sm-10 form-inline">

                        <select class="form-control input-sm" name='type' required="required">
                            {% for x in type_list %}
                            <option {% if x.type_name == json_dict.type_field_id %}selected{% endif %}>{{ x.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- 版本 -->
                <div class="form-group">
                    <label for="version" class="col-sm-2 control-label">版本 <strong class="text-danger">*</strong> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" name="version" placeholder="如：7.9.0" required="required" value="{{ json_dict.version }}" />
                    </div>
                </div>
                <!-- 平台 -->
                <div class="form-group">
                    <label for="plantform" class="col-sm-2 control-label">平台 <strong class="text-danger">*</strong> </label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" name="plantform" id="Android" value="Android" checked="True"> {{ json_dict.plantform }}
                        </label>
                        <!-- <label class="radio-inline">
                          <input type="radio" name="plantform" id="IOS" value="IOS"> IOS
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="plantform" id="M" value="M"> M
                        </label> -->
                    </div>
                </div>
                <!-- 步骤 -->
                <div class="form-group">
                    <label for="from" class="col-sm-2 control-label">步骤 <strong class="text-danger">*</strong> </label>
                    <div class="col-sm-10">
                        <table class='table table-striped table-bordered table-condensed table-responsive'>
                            <thead>
                                <tr class="info">
                                    <th>序号</th>
                                    <th>用例步骤</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id='L1TB'>
                                {% for BG in BgStep %}
                                <tr id='L1TR{{ BG.index }}'>
                                    <td name="index_step">{{ BG.index }}</td>
                                    <td>
                                        <!-- 描述 -->
                                        <div class="form-group">
                                            <label for="storyDescription" class="col-sm-2 control-label">步骤描述 <strong class="text-danger">*</strong> </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control input-sm" name="storyDescription" placeholder="如：点击首页门票标签进入门票频道页" required="required" value="{{ BG.storyDescription }}" />
                                            </div>
                                        </div>
                                        <!-- 起点 -->
                                        <div class="form-group">
                                            <label for="where" class="col-sm-2 control-label"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="第一个步骤, 一般从首页或频道页开始；其他步骤, 一般是上一个步骤的终点页"></span> 起点 <strong class="text-danger">*</strong> </label>
                                            <div class="col-sm-10">
                                                <select class="form-control input-sm" name="where" required="required">
                                                    {% for x in where_list %}
                                                    <option {% if x.controlName == BG.where %}selected{% endif %}>{{ x.controlName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <!-- 动作 -->
                                        <div class="form-group">
                                            <label for="stepDes" class="col-sm-2 control-label">动作</label>
                                            <div class="col-sm-10">
                                                <table class='table table-striped table-bordered table-condensed table-responsive'>
                                                    <thead>
                                                        <tr class="danger">
                                                            <th class="col-sm-1">## <strong class="text-danger">*</strong> </th>
                                                            <th class="col-sm-3">做什么动作 <strong class="text-danger">*</strong> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="标记需要配置元素的选型，一定要配置元素，除此之外都可以不要"></span></th>
                                                            <th class="col-sm-3">什么元素
                                                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="选择或输入, 页面上可见的图标、文字、按钮都是元素. 元素分2类, 1 带文字的, 如首页'门票频道', 直接写门票频道;2 不带文字的, 如首页搜索框, 下拉选择 3 图标类, 如小人,电话图标 下拉选择    ."></span>
                                                            </th>
                                                            <th >要不要输入</th>
                                                            <th >是否等待 <strong class="text-danger">*</strong> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="该步骤执行完毕, 经常要转圈的, 建议等待, 增加用例稳定性;"></span></th>
                                                            <th></th><th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='L2TB'>
                                                        {% for y in BG.action %}
                                                        <tr id='L2TR{{ y.index|slice:"2:" }}'>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control input-sm" name="index_step" value="{{ y.index }}" required="required">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <select class="form-control input-sm" name="actionCode" required="required">
                                                                        {% for x in control_list %}
                                                                        <option {% if x.controlName == y.actionCode %}selected="True"{% endif %}>{{ x.controlName }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <select class="form-control editable-select-e input-sm" name="targetName" placeholder="选择或输入">
                                                                        {% for x in target_list %}
                                                                        <option {% if x.controlName == y.target.targetName %}selected{% endif %}>{{ x.controlName }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <textarea class="form-control input-sm" name="inputValue" placeholder="如果元素是input输入框，就输入内容，否则留空" rows="3" />{{ y.behaviorPara.inputValue }}</textarea>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <select class="form-control input-sm" name="needWait">
                                                                        {% for x in wait_list %}
                                                                        <option {% if x == y.needWait %}selected{% endif %}>{{ x }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td><button type="button" class="btn-success form-control btn-xs btn-me" onclick="ActionAdd(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
                                                            <td><button type="button" class="btn-danger form-control btn-xs btn-me" data-toggle="modal" onclick="myDel(this)"style="height:30px;width:30px"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- 终点 -->
                                        <div class="form-group">
                                            <label for="check" class="col-sm-2 control-label">终点</label>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <select class="form-control input-sm" name="enterActivity">
                                                        <option></option>
                                                        {% for x in where_list %}
                                                        <option {% if x.controlName == BG.enterActivity %} selected {% endif %}>{{ x.controlName }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 校验 -->
                                        <div class="form-group">
                                            <label for="check" class="col-sm-2 control-label">校验</label>
                                            <div class="col-sm-10">
                                                <table class='table table-striped table-bordered table-condensed table-responsive'>
                                                    <thead>
                                                        <tr class="danger">
                                                            <th class="col-sm-1">##</th>
                                                            <th>预期描述</th>
                                                            <th>校验方法</th>
                                                            <th>校验元素</th>
                                                            <th></th><th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for y in BG.checkString %}
                                                        <tr id="L3TR">
                                                            <td>
                                                                <input class="form-control input-sm" name="index_expend" placeholder="序号" value='{{ y.index }}'/>
                                                            </td>
                                                            <td>
                                                                <input class="form-control input-sm" name="expeted" placeholder="预期结果" value='{{ y.expeted }}'/>
                                                            </td>
                                                            <td>
                                                                <select class="form-control input-sm" name="checkType">
                                                                    <option></option>
                                                                    {% for x in checkType_list %}
                                                                    <option {% if x.controlName == y.checkType %}selected{% endif %}>{{ x.controlName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select id="editable-select1" class="editable-select-e form-control input-sm" name="elementname" placeholder="选择或输入元素">

                                                                    {% for x in target_list %}
                                                                    <option>{{ x.controlName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td><button type="button" class="btn-success form-control btn-xs btn-me" onclick="expendAdd(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                            <td><button type="button" class="btn-danger form-control btn-xs btn-me" data-toggle="modal" onclick="myDel(this)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                    <td><button type="button" class="btn-success form-control btn-xs" onclick="StepAdd()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                        <button type="button" class="btn-danger form-control btn-xs" data-toggle="modal" onclick="myDel(this)" ><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 状态 -->
                <div class="form-group">
                    <label for="canUse" class="col-sm-2 control-label">用例状态 <strong class="text-danger">*</strong> </label>
                    <div class="col-sm-10" name='use_or_not'>
                        <label class="radio-inline">
                          <input type="radio" name="canUse" id="inlineRadio1" value="use" {% if json_dict.in_use == '1' %}checked="True"{% endif %}> 在用
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="canUse" id="inlineRadio2" value="nouse" {% if json_dict.in_use == '0' %}checked="True"{% endif %}> 弃用
                        </label>
                    </div>
                </div>
                <!-- 描述 -->
                <div class="form-group">
                    <label for="owner" class="col-sm-2 control-label">创建者 <strong class="text-danger">*</strong> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" name="owner" placeholder="提交人姓名" value="{{ json_dict.owner }}" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="caseDes" class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control input-sm" name="caseDes" placeholder="备注说明" rows='3'/>{{ json_dict.des }}</textarea>
                    </div>
                </div>
                <!-- 提交返回 -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-success btn-sm" name='yes' value="提交">
                        <!-- 提交并继续 需要上下文渲染器 -->
                        <a type="submit" class="btn btn-default btn-sm" href='/auto/'>返回</a>
                    </div>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">⊙▂⊙</h4>
                        </div>
                        <div id='message1' class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- model -->
            <div style="display:none">
                <table class='table table-striped table-bordered table-condensed table-responsive'>
                    <thead><tr class="info"><th>#</th><th>用例步骤</th><th>操作</th></tr></thead>
                    <tbody id='L1TB'>
                        <tr id='L1Model'>
                            <td name="index_main">1</td>
                            <td>
                                <div class="form-group">
                                    <label for="storyDescription" class="col-sm-2 control-label">描述 <strong class="text-danger">*</strong> </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control focus input-sm" name="storyDescription" placeholder="如：点击首页门票标签进入门票频道页" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="where" class="col-sm-2 control-label"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="第一个步骤, 一般从首页或频道页开始；其他步骤, 一般是上一个步骤的终点页"></span> 起点 <strong class="text-danger">*</strong> </label>
                                    <div class="col-sm-10">
                                        <select class="form-control input-sm" name="where">
                                            {% for x in where_list %}
                                            <option>{{ x.controlName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="stepDes" class="col-sm-2 control-label">动作</label>
                                    <div class="col-sm-10">
                                        <table class='table table-striped table-bordered table-condensed table-responsive'>
                                            <thead>
                                                <tr class="danger">
                                                    <th class="col-sm-1">##</th>
                                                    <th class="col-sm-3 ">做什么动作 <strong class="text-danger">*</strong> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="标记需要配置元素的选型，一定要配置元素，除此之外都可以不要"></span></th>
                                                    <th class="col-sm-3">什么元素
                                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="选择或输入, 页面上可见的图标、文字、按钮都是元素. 元素分2类, 1 带文字的, 如首页'门票频道', 直接写门票频道;2 不带文字的, 如首页搜索框, 下拉选择 3 图标类, 如小人,电话图标 下拉选择    ."></span>
                                                    </th>
                                                    <th>要不要输入</th>
                                                    <th >是否等待 <strong class="text-danger">*</strong> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="该步骤执行完毕, 经常要转圈的, 建议等待, 增加用例稳定性;"></span></th>
                                                    <th></th><th></th>
                                                </tr>
                                            </thead>
                                            <tbody id='L2TB'>
                                                <tr id='L2Model'>
                                                    <td >
                                                        <div class="form-group">
                                                            <input type="text" class="form-control input-sm" name="index_step" required="required" value='1-1'>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <select class="form-control input-sm" name="actionCode">
                                                                {% for x in control_list %}
                                                                <option>{{ x.controlName }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <select  class="form-control input-sm" name="targetName" placeholder="选择或输入">
                                                                {% for x in target_list %}
                                                                <option>{{ x.controlName }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <textarea class="form-control input-sm" name="inputValue" placeholder="如果元素是input输入框，就输入内容，否则留空" rows="3" /></textarea>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <!-- <label for="elementName"></label> -->
                                                            <select class="form-control input-sm" name="needWait">
                                                                <option>等待</option>
                                                                <option>不等待</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td><button type="button" class="btn-success form-control btn-xs btn-me" onclick="ActionAdd(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
                                                    <td><button type="button" class="btn-danger form-control btn-xs btn-me" data-toggle="modal" onclick="myDel(this)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="check" class="col-sm-2 control-label">终点</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <select class="form-control input-sm" name="enterActivity">
                                                <option></option>
                                                {% for x in where_list %}
                                                <option>{{ x.controlName }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="check" class="col-sm-2 control-label">校验</label>
                                    <div class="col-sm-10">
                                        <table class='table table-striped table-bordered table-condensed table-responsive'>
                                            <thead>
                                                <tr class="danger">
                                                    <th class="col-sm-1">##</th>
                                                    <th>预期描述</th>
                                                    <th>校验方法</th>
                                                    <th>校验元素</th>
                                                    <th></th><th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="L3TB">
                                                <tr id="L3Model">
                                                    <td>
                                                        <input class="form-control input-sm" name="index_expend" placeholder="序号"  value='1-1'/>
                                                    </td>
                                                    <td>
                                                        <input class="form-control input-sm" name="expeted" placeholder="预期结果"/>
                                                    </td>
                                                    <td>
                                                        <select class="form-control input-sm" name="checkType">
                                                            <option></option>
                                                            {% for x in checkType_list %}
                                                            <option>{{ x.controlName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="editable-select1" class="form-control input-sm" name="elementname" placeholder="选择或输入元素">
                                                            {% for x in target_list %}
                                                            <option>{{ x.controlName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><button type="button" class="btn-success form-control btn-xs btn-me" onclick="expendAdd(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                    <td><button type="button" class="btn-danger form-control btn-xs btn-me" data-toggle="modal" onclick="myDel(this)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td><button type="button" class="btn-success form-control btn-xs btn-me" onclick="StepAdd()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                <button type="button" class="btn-danger form-control btn-xs btn-me" data-toggle="modal" onclick="myDel(this)" ><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<script>
    // edit默认加载完要改类
    $('.editable-select-e').editableSelect({ filter: false });
</script>
<script>
    // 对于input，select转变为input之后设置value，
    var
        targetname = {{ targetname | safe }};
        elementname = {{ elementname | safe }};
        // 减一是因为有模板name
        tarLen = document.getElementsByName('targetName').length -1;
        eleLen = document.getElementsByName('elementname').length -1;
    for(x=0;x<tarLen;x++){
        document.getElementsByName('targetName')[x].value = targetname[x];
    }
    for(x=0;x<eleLen;x++){
        console.log(x)
        document.getElementsByName('elementname')[x].value = elementname[x];
    }
</script>
<script>
    //大行增加
    function StepAdd(){
        var
            trlen = document.getElementById('L1TB').rows.length;
            model = document.getElementById('L1Model');
            new_son = model.cloneNode(true); //克隆节点，并设置id,为了和根区分
            lasttr = document.getElementById('L1TB').rows[trlen-1]; // 定位该table最后一行
            linenum = parseInt(lasttr.innerText) + 1; // 行号 = 最后一行的行号 + 1
            // 下面获取克隆元素的二层table的index序号
            new_son.getElementsByTagName('input').index_step.value = linenum + '-1'
            new_son.getElementsByTagName('input').index_expend.value = linenum + '-1'
            new_son.id = 'L1TR' + linenum;
            // 避免改模板的属性，模板不带类名，每次复制时赋予类名 还有L2的ID
            new_son.getElementsByTagName('tr')[1].id = 'L2TR'
            new_son.getElementsByTagName('tr')[3].id = 'L3TR'
            new_son.getElementsByTagName('select')[2].className = 'form-control editable input-sm'
            new_son.getElementsByTagName('select')[5].className = 'form-control editable input-sm'
        document.getElementById('L1TB').appendChild(new_son); // 克隆元素
        // 给新加的元素设置行号，重新算行数
        trlen = document.getElementById('L1TB').rows.length;
        document.getElementById('L1TB').rows[trlen-1].cells[0].innerHTML = linenum
        $('.editable').editableSelect({ filter: false });
    }
    // 动作行+
    function ActionAdd(node){
        var
            model = document.getElementById('L2Model'); // model tr
            child = node.parentNode.parentNode; //self tr
            father = child.parentNode; // tbody
            new_son = model.cloneNode(true); //克隆节点
            firstnum = father.getElementsByTagName('input').index_step.value[0]; // 获取父节点的index_main值
            trlen = father.parentNode.rows.length; // 动作行数
            lasttd = father.parentNode.rows[trlen-1].getElementsByTagName('input').index_step.value[2]; // 获取父节点下所有节点的最后一个的index值
            lastnum = parseInt(lasttd) + 1; // 明确子序号
            new_son.getElementsByTagName('input').index_step.value = firstnum + '-' + lastnum; // 改其为index前半 + 后半
            new_son.id = 'L2TR' + lastnum;
            new_son.getElementsByTagName('select')[1].className = 'form-control editable input-sm'// 避免改模板的属性，模板不带类名，每次复制时赋予类名
        father.appendChild(new_son);
        $('.editable').editableSelect({ filter: false });
    }
    // 预期行++
    function expendAdd(node){
        var
            model = document.getElementById('L3Model'); // model tr
            child = node.parentNode.parentNode; //self tr
            father = child.parentNode; // tbody
            new_son = model.cloneNode(true); //克隆节点
            firstnum = father.getElementsByTagName('input').index_expend.value[0]; // 获取父节点的index_main值
            trlen = father.parentNode.rows.length; // 预期行数
            lasttd = father.parentNode.rows[trlen-1].getElementsByTagName('input').index_expend.value[2]; // 获取父节点下所有节点的最后一个的index值
            lastnum = parseInt(lasttd) + 1; // 明确子序号
            new_son.getElementsByTagName('input').index_expend.value = firstnum + '-' + lastnum; // 改其为index前半 + 后半
            new_son.id = 'L3TR' + lastnum;
            new_son.getElementsByTagName('select')[1].className = 'form-control editable input-sm'// 避免改模板的属性，模板不带类名，每次复制时赋予类名
        father.appendChild(new_son);
        $('.editable').editableSelect({ filter: false });
    }

    function myDel(node){
        var
            child = node.parentNode.parentNode;
            // father = document.getElementById('test_tb');
            father = child.parentNode;
        if(child.id=='L1TR1' || child.id=='L2TR1' || child.id=='L3TR1')
            {
                node.setAttribute('data-target','#myModal');
                document.getElementById('message1').innerHTML = '不能删除根节点';
            }
        else
            {
                node.setAttribute('data-target','');
                father.removeChild(child);
            }
    }
</script>
{% endblock content %}
