{% extends "auto_base.html" %}
{% block content %}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"> 用例列表 品类：{{ my_type }} </div>
		<div class="panel-body">
            <a href='/auto/new_add' type='button' class='btn btn-default btn-sm'><span class="glyphicon glyphicon-plus"></span> 添加用例</a>
            <button type="submit" class="btn btn-danger btn-sm" id="delCases"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 批量删除</button>
            <a type='submit' class="btn btn-sm btn-default" id="getCases">执行构建62001</a>
            <a type='submit' class="btn btn-sm btn-default" id="getCases1">执行构建62025</a>
            <a href="/auto/test_list" type='button' class='btn btn-success btn-sm'><i class="fa fa-bullhorn xwcms"></i> 测试报告</a>
            <a type="submit" class="btn btn-default btn-sm" href="http://10.113.2.70:8080/jenkins/" target="_blank"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Jenkins</a>

            <div id='delconfirm' class="alert alert-default alert-dismissible fade in" role="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <h4 id='titleee'>删除确认</h4>
                <p id='del_mess'>
                    {% for x in delcase %}
                    {{ x }}
                    {% endfor %}
                </p>
                <p id='del_butt'>
                    <button type="button" class="btn btn-danger" id="delSure">Just Do it!</button>
                    <button type="button" class="btn btn-default" id="cancle">Cancle</button>
                </p>
            </div>
		</div>

		<table id="tableList" data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle" style="word-break:break-all;"  data-click-to-select="true">
			<thead>
				<tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="ID" class="col-xs-1"> ID</th>
					<th data-field="用例名称" data-sortable="true" class="col-xs-2">
						用例名称
					</th>
					<th data-field="品类" data-sortable="true" class="col-xs-1">
						品类
					</th>
					<th data-field="版本" data-sortable="true" class="col-xs-1">
					    版本
					</th>
					<th data-field="平台" data-sortable="true" class="col-xs-1">
					    平台
					</th>
                    <th data-field="所属" data-sortable="true" class="col-xs-1">
						所属
					</th>
					<th data-field="备注" data-sortable="true" class="col-xs-1">
						备注
					</th>
					<th data-field="修改时间" data-sortable="true" class="col-xs-2">
						修改时间
					</th>
                    <th data-field="操作" data-sortable="true" class="col-xs-2">
						操作
					</th>
				</tr>
			</thead>
			<tbody id="list">
			{% for x in show_list %}
				<tr>
                    <td></td>
                    <td>{{ x.id }}</td>
    				<td><div name="caseName">{{ x.caseName }}</div></td>
    				<td>{{ x.type_field }}</td>
    				<td>{{ x.version }}</td>
    				<td>{{ x.plantform }}</td>
    				<td>{{ x.owner }}</td>
    				<td>{{ x.des }}</td>
    				<td>{{ x.modify_time|date:"Y-m-d H:i:s" }}</td>
    				<td><a type='button' class="btn btn-sm btn-default" href="/auto/new_edit/{{ x.id }}/"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑</a>
                        <button type="submit" class="btn btn-default btn-sm" data-index="{{ x.id }}" data-toggle="modal" data-target="#copyModal"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> 复制</button>
                    </td>
                </tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
    // jenkins json data
    $(document).ready(function(){
        $("#getCases").click(function(){
            var valArr = new Array;
                device = '62001';
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = $(this).parent().next().text();
            });
            var vals = valArr.join(',');//转换为逗号隔开的字符串
            $('#delconfirm').fadeIn(1000);
            if(vals){
                $.get("/auto/auto_config",{'vals':vals,'device':device})
                $('#titleee').text('构建确认');
                $("#del_mess").text('构建中');
            }else{
                // 提示并隐藏button
                $('#titleee').text('构建确认');
                $("#del_mess").text('请先选择用例');
                $('#del_butt').fadeOut(0);
            }
            $('#delconfirm').fadeOut(1000);
        });
    });

    $(document).ready(function(){
        $("#getCases1").click(function(){
            var valArr = new Array;
                device = '62025';
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = $(this).parent().next().text();
            });
            var vals = valArr.join(',');//转换为逗号隔开的字符串
            $('#delconfirm').fadeIn(1000);
            if(vals){
                $.get("/auto/auto_config",{'vals':vals,'device':device})
                $('#titleee').text('构建确认');
                $("#del_mess").text('构建中');
            }else{
                // 提示并隐藏button
                $('#titleee').text('构建确认');
                $("#del_mess").text('请先选择用例');
                $('#del_butt').fadeOut(0);
            }
            $('#delconfirm').fadeOut(1000);
        });
    });

    $(document).ready(function(){
        $("#delCases").click(function(){
            var valArr = new Array;
                valArr1 = new Array;
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = $(this).parent().next().text();
                valArr1[i] = $(this).parent().next().next().text();
            });
            var vals = valArr.join(','); // 转换为逗号隔开的字符串
            var vals1 = valArr1.join('<br/>');
            $('#delconfirm').fadeIn(1000);
            if(vals){
                // 提示要删除的用例，并显示button
                message = '删除:<br/>' + vals1;
                $("#del_mess").html(message);
                $('#del_butt').fadeIn(500);
                $("#delSure").click(function(){
                    $.get("/auto/auto_del",{'id':vals}, function(data,status){
                        if (status == 'success' && data == 'success') {
                            $("#del_mess").text('删除成功');
                        //提交失败的操作
                        } else {
                            $("#del_mess").text('已删除或删除失败，请联系管理员');
                        };
                    window.location.reload();
                    // $('#delconfirm').fadeOut(3000);
                    });
                })
            }else{
                // 提示并隐藏button
                $("#del_mess").text('请先选择用例');
                $('#del_butt').fadeOut(0);
                $('#delconfirm').fadeOut(1000);
            }
        });
    });

    $(document).ready(function(){
        $("#cancle").click(function(){
            $('#delconfirm').fadeOut(500)
        });
    });
</script>
{% endblock content %}
