
    <!-- 设备列表 -->
    <div class="btn-group btn-group-sm">
        <button class='btn btn-sm btn-success' disabled>空闲</button>
        <button class='btn btn-sm btn-warning' disabled>办理中</button>
        <button class='btn btn-sm btn-danger' disabled>排队中</button>
    </div>
    <br><br>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#ad" aria-controls="ad" role="tab" data-toggle="tab">Android 测试机</a></li>
      <li role="presentation"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab">iOS 测试机</a></li>
      <li role="presentation"><a href="#mm" aria-controls="mm" role="tab" data-toggle="tab">M站 测试机</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="ad">
          <br>
          {% for x in device_list %}
            {% if x.platformName == 'Android'%}
              <a type='submit' name='{{x.platformName}}' class='btn btn-sm {% if x.queue %}btn-danger{% elif x.status %}btn-warning{% elif x.broken %}btn-default{% else %}btn-success
              {% endif %} getCases' {% if x.broken %}disabled="disabled"{% endif %}>{{ x.deviceName }}#{{ x.appVersion }}</a>
              {%endif%}
          {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="ios">
          <br>
          {% for x in device_list %}
              {% if x.platformName == 'iOS'%}
              <a type='submit' name='{{x.platformName}}' class='btn btn-sm {% if x.queue %}btn-danger{% elif x.status %}btn-warning{% elif x.broken %}btn-default{% else %}btn-success
              {% endif %} getCases' {% if x.broken %}disabled="disabled"{% endif %}>{{ x.deviceName }}#{{ x.appVersion }}</a>
              {%endif%}
          {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="mm">
          <br>
          {% for x in device_list %}
              {% if x.platformName == 'M'%}
              <a type='submit' name='{{x.platformName}}' class='btn btn-sm {% if x.queue %}btn-danger{% elif x.status %}btn-warning{% elif x.broken %}btn-default{% else %}btn-success
              {% endif %} getCases' {% if x.broken %}disabled="disabled"{% endif %}>{{ x.deviceName }}#{{ x.appVersion }}</a>
              {%endif%}
          {% endfor %}
      </div>
    </div><hr>
    <script>
        $(document).ready(function(){
            $("#cancle").click(function(){
                $('#delconfirm').fadeOut(500)
            });
        });
    </script>
