{% extends "auto_base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="panel panel-black">
        <div class="panel-heading"> 用例集 </div>
		<div class="panel-body">
            <div class="btn-group btn-group-sm">
                <a type='submit' class="btn btn-sm btn-danger getCases">构建</a>
                <button type="button" class="btn btn-default" id="getHistory"><i class="fa fa-history  xwcms"></i> 操作历史</a>
            </div>
            <span class='label label-warning pull-right'>警告 : 一个用例集里不要出现不同版本的用例;</span>
            <hr>
            AD每日自动构建用例集ID：<span class='label label-success'>{{Aid}}</span>
            M站每日自动构建用例集ID：<span class='label label-primary'>{{Mid}}</span>
            <div id='delconfirm' class="alert alert-default alert-dismissible fade in" role="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <h4 id='titleee'>删除确认</h4>
                <p id='del_mess'>
                    {% for x in delcase %}
                    {{ x }}
                    {% endfor %}
                </p>
                <p id='del_butt'>
                    <button type="button" class="btn btn-default" id="cancle">Cancle</button>
                </p>
            </div>
		</div>

		<table id="tableList" data-toggle="table" data-striped="true" data-show-columns="true" data-row-style="rowStyle" style="word-break:break-all;"  data-click-to-select="true" data-query-params="queryParams" data-pagination="true" data-search="true" data-sort-name='数量' data-sort-order='desc'>
			<thead>
				<tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="ID"> ID</th>
					<th data-field="用例集名称" data-sortable="true">
						用例集名称
					</th>
					<th data-field="版本" data-sortable="true">
						版本
					</th>
					<th data-field="平台" data-sortable="true">
						平台
					</th>
					<th data-field="数量" data-sortable="true">
						数量
					</th>
					<th data-field="备注" data-sortable="true">
						备注
					</th>
					<th data-field="修改时间" data-sortable="true">
						修改时间
					</th>
                    <th data-field="操作" data-sortable="true">
						操作
					</th>
				</tr>
			</thead>
			<tbody id="list">
			{% for x in casegroup %}
				<tr>
                    <td></td>
                    <td>{{ x.id }}</td>
    				<td><div name="groupName">{{ x.groupName }}</div></td>
    				<td>{{ x.versionStr }}</td>
                    <td>{{ x.platform }}</td>
                    <td>{{ x.num }}</td>
    				<td class='text-danger'>{{ x.des }}</td>
    				<td>{{ x.modify_time|date:"Y-m-d H:i:s" }}</td>
    				<td><a type='button' class="btn btn-sm btn-default" href="/auto/groupEdit?groupID={{ x.id }}"><span class="glyphicon glyphicon-pencil xwcms" aria-hidden="true"></span> 编辑</a>
                    </td>
                </tr>
			{% endfor %}
			</tbody>
		</table>

        <div id='history'></div>
	</div>
</div>
{% include "baseTable.html" %}
<script>
    $(document).ready(function(){
        $(".getCases").click(function(){
            var valArr = new Array();
            // 根据所选ID 获取用例集ID和平台，根据平台获取device
            $('input[name="btSelectItem"]:checked').each(function(i){
                valArr[i] = new Array();
                valArr[i][0] = $(this).parent().next().text();
            });
            console.log(valArr)
            if(valArr.length>0){
                for (var i=0;i<valArr.length;i++){
                    $.getJSON("/auto/auto_config",
                        {'vals':valArr[i][0],'type':'group'},function(data){
                            $('#titleee').text('构建确认');
                            $('#del_mess').html(data.message)
                            $('#del_butt').fadeOut(0);
                        })
                    }
                $('#delconfirm').fadeIn(2000)
                $('#titleee').text('构建确认');
                $("#del_mess").text('构建中中中中中中中中');
            }else{
                // 提示并隐藏button
                $('#delconfirm').fadeIn(2000)
                $('#titleee').text('构建确认');
                $("#del_mess").text('你都没没没没没没没没没没选');
                $('#del_butt').fadeOut(0);
            }
        });
    });

    $("#getHistory").click(function(){
        $.get("/auto/getGroupHistory",function(ret){
            $('#history').html(ret)
        })
    });
</script>
{% endblock content %}
