{% extends "auto_base.html" %}
{% load staticfiles %}
{% block content %}
<link href="{% static 'css/bootstrap-duallistbox.min.css' %}" rel="stylesheet">
<div class="row">
    <div class="panel panel-black">
        <div class="panel-heading"> 用例集管理 </div>
		<div class="panel-body">
            <form class="form-horizontal" action='/auto/groupSave' method='post'>
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">用例集ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" value="{{ groupInfo.id }}" name='ID' readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用例集名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" value="{{ groupInfo.groupName }}" name='groupName'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本</label>
                    <div class="col-sm-10">
                        <select type="text" class="form-control input-sm" name='version'>
                            {% for x in versionList %}
                            <option {% if x.versionStr == groupInfo.versionStr.versionStr %}selected='selected'{% endif %}>{{x.versionStr}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">平台</label>
                    <div class="col-sm-10">
                        <select type="text" class="form-control input-sm" name='plat'>
                            {% for x in platform %}
                            <option {% if groupInfo.platform == x %}selected='selected'{% endif %}>{{x}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="demoform" action="#" method="post" class="form-group">
                    <label class="col-sm-2 control-label">用例管理 <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="左列是所有用例，右列是当前选中用例，过滤支持正则如796的成功或通过的 \[7.9.6\].*(成功|通过)"></span></label>
                    <div class="col-sm-10">
                        <select multiple="multiple" size="20" name="groupListBox">
                        {% for x in allCase %}
                        <option value="case-{{ x.id }}" {% if x.sta == 'checked' %}selected='selected'{% endif %}>{{ x.id }}+{{ x.caseName }}+{{ x.plantform }}+{{ x.version }}+{{ x.des }}+{{ x.owner }}+{{ x.in_use }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10">
                        <textarea name='des' type="text" class="form-control input-sm">{{ groupInfo.des }}</textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success btn-block">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.bootstrap-duallistbox.min.js' %}"></script>
<script>
  var demo1 = $('select[name="groupListBox"]').bootstrapDualListbox({
      nonSelectedListLabel: 'Non-selected',
      selectedListLabel: 'Selected',
      preserveSelectionOnMove: 'moved',
      moveOnSelect: false,
    });
  $("#demoform").submit(function() {
    alert($('[name="groupListBox"]').val());
    return false;
  });
</script>
{% endblock content %}
