<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<head>
<title>testing</title>
<style>
     html,body,iframe{
         display: block;
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          border:none;
     }
     iframe{
          opacity:0.3;
          filter:alpha(opacity=0);
          position:absolute;
          z-index:2;
     }
     button{
          position:absolute;
		  bottom: -15px;
          right: 0px;
          z-index: 2;
          width: 400px;
          height: 50px;
     }
</style>
</head>
     <body>
          testing
          <button id='todo'>test</button>
          <iframe src="https://m.lvmama.com/lvwappay/vorder_success.htm?orderId=44160801"></iframe>
          <!-- <div id='page'></div> -->
         <!-- <script src='http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js'></script>
    <script>
        $('#todo').click().function{
            $.get("https://m.lvmama.com/lvwappay/vorder_success.htm?orderId=44160801",function(ret){
                $('#page').html(ret)
            }

            )

        }
    </script> -->
     </body>
</html>
