<div class="col-md-6">
	<header class="htmleaf-header">
	<h3>成功列表</h3></header>
	<table class="table table-hover table-expandable">
		<thead>
			<tr>
			<th>用例名称</th>
			<th>操作步骤</th>
			<th>操作时长</th>
			<th>用例更新时间</th></tr>
		</thead>
		<tbody>
				{% for x in pass_list %}
					{{ x.testResultDoc|safe }}
				{% endfor %}
		</tbody>
	</table>
</div>
<div class="col-md-6">
	<header class="htmleaf-header">
	<h3>失败列表</h3></header>
	<table class="table table-hover table-expandable">
		<thead>
			<tr>
			<th>用例名称</th>
			<th>操作步骤</th>
			<th>操作时长</th>
			<th>用例更新时间</th></tr>
		</thead>
		<tbody>
				{% for x in err_list %}
					{{ x.testResultDoc|safe }}
				{% endfor %}
		</tbody>
	</table>
</div>
<script src="http://10.113.1.112:8080/js/bootstrap-table-expandable.js"></script>
