{% extends "auto_base.html" %}
{% block content %}

<div class="row">
    <div class='col-md-7'>
        <div class="panel panel-black">
            <div class="panel-heading"> 构建报告 </div>
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#ad" aria-controls="ad" role="tab" data-toggle="tab">Android 测试机</a></li>
                  <li role="presentation"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab">iOS 测试机</a></li>
                  <li role="presentation"><a href="#mm" aria-controls="mm" role="tab" data-toggle="tab">M站 测试机</a></li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="ad">
                    <br>
                        {% for x in device_list %}
                            {% if x.platformName == 'Android'%}
                            <a type='submit' name='{{x.platformName}}' class="bb btn btn-success btn-sm getCases">{{ x.deviceName }}#{{ x.appVersion }}</a>
                            {%endif%}
                        {% endfor %}
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ios">
                      <br>
                      {% for x in device_list %}
                          {% if x.platformName == 'iOS'%}
                          <a type='submit' name='{{x.platformName}}' class="bb btn btn-success btn-sm getCases">{{ x.deviceName }}#{{ x.appVersion }}</a>
                          {%endif%}
                      {% endfor %}
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="mm">
                      <br>
                      {% for x in device_list %}
                          {% if x.platformName == 'M'%}
                          <a type='submit' name='{{x.platformName}}' class="bb btn btn-success btn-sm getCases">{{ x.deviceName }}#{{ x.appVersion }}</a>
                          {%endif%}
                      {% endfor %}
                  </div>
                </div>
                <div id='contents'></div>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="panel panel-black">
            <div class="panel-heading"> 用例集报告 <a type='button' class='btn btn-sm btn-warning' href="/auto/stop_jenkins" target=_blank>停止所有测试</a></div>
            <div class="panel-body">
                <table data-toggle="table" data-striped="true" data-show-columns="true" data-row-style="rowStyle" style="word-break:break-all;"  data-click-to-select="true" data-query-params="queryParams" data-pagination="true" data-search="true" data-sort-name='测试时间' data-sort-order='desc'>
        			<thead>
        				<tr>
        					<th data-field="用例集" data-sortable="true">
        						用例集名称
        					</th>
        					<th data-field="版本" data-sortable="true">
        						版本
        					</th>
        					<th data-field="报告链接" data-sortable="true">
        						报告
        					</th>
        					<th data-field="测试时间" data-sortable="true">
        					    启动时间
        					</th>
                            <th data-field="类型" data-sortable="true">
        					    类型
        					</th>
        					<th>
        					    操作
        					</th>
        				</tr>
        			</thead>
        			<tbody>
        			{% for x in groupReports %}
        				<tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.Version }}</td>
                            <td><a href='{{ x.url }}' target="_blank">查看报告</a></td>
            				<td>{{ x.createTime |date:"Y-m-d H:i:s"}}</td>
                            <td>{% if x.flag == '1'%}自动{% else %}手工{% endif%}</td>
                            <td><a href='/auto/api_report?timeStamp={{x.timeStamp}}&ver={{x.Version}}&name={{x.name}}' target=_blank class='btn btn-default btn-sm'><i class="fa fa-envelope"></i> toLvtu</a></td>
                        </tr>
        			{% endfor %}
        			</tbody>
        		</table>
            </div>
        </div>
    </div>

</div>

<script>
    $('.bb').click(function() {
        // var device = $(this).text()
        var device = $(this).html().split('#')[0]
        console.log(device)
        $.get("{% url 'test_ajax' %}", {
            'device': device,
        }, function(ret) {
            $("#contents").html(ret)
        })
    })

</script>
{% endblock content %}
