{% extends "auto_base.html" %}
{% block content %}

<div class="row">
    <div class='col-md-7'>
        <div class="panel panel-primary">
            <div class="panel-heading"> 构建报告 </div>
            <div class="panel-body">
                <span class='label label-success'><i class="fa fa-apple xwcms"></i></span>
                {% for x in iosdev %}
                <button class='bb btn btn-sm btn-default'>{{ x.deviceName }}</button>
                {% endfor %}<br>
                <span class='label label-success'><i class="fa fa-android xwcms"></i></span>
                {% for x in addev %}
                <button class='bb btn btn-sm btn-default'>{{ x.deviceName }}</button>
                {% endfor %}<br>
                <span class='label label-success'><i class="fa fa-chrome xwcms"></i></span>
                {% for x in mdev %}
                <button class='bb btn btn-sm btn-default'>{{ x.deviceName }}</button>
                {% endfor %}
                <div id='contents'></div>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="panel panel-primary">
            <div class="panel-heading"> 用例集报告 <a type='button' class='btn btn-sm btn-warning' href="/auto/stop_jenkins">中断测试, 慎用</a></div>
            <div class="panel-body">
                <table data-toggle="table" data-striped="true" data-show-columns="true" data-row-style="rowStyle" style="word-break:break-all;"  data-click-to-select="true" data-query-params="queryParams" data-pagination="true" data-search="true" data-sort-name='测试时间' data-sort-order='desc'>
        			<thead>
        				<tr>
        					<th data-field="用例集" data-sortable="true">
        						用例集
        					</th>
        					<th data-field="报告链接" data-sortable="true">
        						报告链接
        					</th>
        					<th data-field="测试时间" data-sortable="true">
        					    测试时间
        					</th>
        					<th>
        					    操作
        					</th>
        				</tr>
        			</thead>
        			<tbody>
        			{% for x in groupReports %}
        				<tr>
                            <td>{{ x.name }}</td>
                            <td><a href='{{ x.url }}' target="_blank">测试报告</a></td>
            				<td>{{ x.createTime |date:"Y-m-d H:i:s"}}</td>
                            <td><a href='/auto/api_report?timeStamp={{x.timeStamp}}&ver={{x.Version}}&name={{x.name}}' target=_blank class='btn btn-default btn-sm'><i class="fa fa-envelope"></i> toLvtu</a></td>
                        </tr>
        			{% endfor %}
        			</tbody>
        		</table>
            </div>
        </div>
    </div>

</div>

<script>
    $('.bb').click(function() {
        var device = $(this).text()
        console.log(device)
        $.get("{% url 'test_ajax' %}", {
            'device': device,
        }, function(ret) {
            $("#contents").html(ret)
        })
    })

</script>
{% endblock content %}
