{% extends "intbase.html" %}
{% block content %}
{% load myfilter %}

<div class="panel panel-lvmm">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-3">
				<div class="alert alert-warning" role="alert">默认是今日的测试结果</div>
				<form class="form-horizontal" role="form" method="get">
					<div class="form-group">
						<label for="dtp_input2" class="col-sm-4 control-label">开始时间</label>
						<div class="col-sm-8 input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="from_date" class="form-control" size="16" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div><input type="hidden" id="dtp_input2" value="" />
					</div>
					<div class="form-group">
						<label for="dtp_input2" class="col-sm-4 control-label">结束时间</label>
						<div class="col-sm-8 input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="to_date" class="form-control" size="16" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" />
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-5">
				<table class="table table-hover table-condensed table-responsive table-bordered"><thead>
				<tr class="info"><th>接口响应占比</th><th>毫秒级</th><th>1~2秒</th><th>2~3秒</th><th>3~4秒</th><th>4~5秒</th><th>5秒以上</th></tr></thead><tbody>
				{% for x,y in show_rate.items %}
				<tr><th class="info">{{ x }}</th><td>{{ y.ms }}%</td><td>{{ y.os }}%</td><td>{{ y.ts }}%</td><td>{{ y.tts }}%</td><td>{{ y.fs }}%</td><td>{{ y.ffs }}%</td></tr>
				{% endfor %}
				</tbody></table>	
				<div class="alert alert-info" role="alert">首包时间：经历过DNS解析和TCP3次握手后，从客户端开始发送请求到接收到服务器响应的第一个包的时间。包含NG的队列时间、首包的传输时间、服务端处理时间。由于NG队列和首包时间仅从客户端处无法取得，近似认为首包时间就是服务器的响应时间</div>				
			</div>
			<div class="col-xs-4">
				<div id="canvas-holder">
					<canvas id="chart-area1" /></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-lvmm">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 接口性能检测报告</div>
</div>

<ul class="nav nav-pills nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#autoint" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> 接口(以平均总耗时排序)<span class="badge"> {{ ints_dict|length}}</span></a></li>
	<li role="presentation"><a href="#autoerror" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-remove"></span> 错误<span class="badge"> {{ show_errs|length}}</span></a></li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="autoint"><br />
{% for k,v in ints_dict %}
		<div class="panel panel-lvmm">
			<div class="panel-body">
				<table class="table  table-hover table-condensed">
					<tr class="info">
					<td class="col-sm-2"><a type="button" class="btn btn-sm btn-primary" href='{{ v.url }}' target='_blank' data-toggle="tooltip" data-placement="right" title="{{ v.url }}">URL</a></td>
					<td class="col-sm-4"><span class="label sr-only">名称</span> <strong>{{ v.name }}</strong></td>
					<td class="col-sm-6"><span class="label sr-only">接口及版本</span> <strong>{{ k }}</strong></td></tr>
				</table>
				<div class="row">
					<div class="col-sm-3">
						<span class="label label-warning">DNS解析</span>
						<span class="label label-info">建连</span>
						<span class="label label-success">首包</span>
						<span class="label label-danger">下载</span>
					</div>
					<div class="col-sm-9">
						<div class="progress">
							<div class="progress-bar progress-bar-warning" style="width: {{ v.dns_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="{{ v.dns_time_avg }}">
								<span>{{ v.dns_time_avg }}s</span>
							</div>
							<div class="progress-bar progress-bar-info" style="width: {{ v.tcp_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="{{ v.tcp_time_avg }}">
								<span>{{ v.tcp_time_avg }}s</span>
							</div>
							<div class="progress-bar progress-bar-success" style="width:{{ v.server_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="{{ v.server_time_avg }}">
								<span>{{ v.server_time_avg }}s</span>
							</div>
							<div class="progress-bar progress-bar-danger" style="width: {{ v.download_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="{{ v.download_time_avg }}">
								<span>{{ v.download_time_avg }}s</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<table class="table table-bordered table-hover table-condensed">
						<div class="row">
							<tr class="info"><td>#</td><td>DNS</td><td>建联</td><td>首包时间</td><td>下载</td><td class="warning">总耗时</td><td class="warning">日志时间</td></tr>
							<tr><td class="info">平均耗时</td><td> {{ v.dns_time_avg }}s</td><td>{{ v.tcp_time_avg }}s</td><td>{{ v.server_time_avg }}s</td><td>{{ v.download_time_avg }}s</td><td>{{ v.total_time_avg }}s</td><td>{{ v.log_time_avg }}s</td></tr>
							<tr><td class="info">95%Line</td><td> {{ v.dns_time_95line }}s</td><td>{{ v.tcp_time_95line }}s</td><td>{{ v.server_time_95line }}s</td><td>{{ v.download_time_95line }}s</td><td>{{ v.total_time_95line }}s</td><td>{{ v.log_time_95line }}s</td></tr>
							<tr><td class="info">耗时范围</td><td>{{ v.dns_time_range }}s</td><td>{{ v.tcp_time_range }}s</td><td>{{ v.server_time_range }}s</td><td>{{ v.download_time_range }}s</td><td>{{ v.total_time_range }}s</td><td>{{ v.log_time_range }}s</td></tr>
						</div></table>
				</div>
				
				<div class="col-sm-4">
					<table class="table  table-bordered table-hover table-condensed">
						<div class="row">
							<tr><td class="info">平均总耗时</td><td>{{ v.total_time_avg }}s</td></tr>
							<tr><td class="info">HTTP错误</td><td>{{ v.error_rate }}%</td></tr>
							<tr><td class="info">debugCode错误</td><td>{{ v.log_error_rate }}%</td></tr>
							<tr><td class="info">下载大小 </td><td>{{ v.download_size }}KB</td></tr>
						</div></table>
				</div>
				
			</div>
		</div>
{% endfor %}
	</div>

	<div role="tabpanel" class="tab-pane fade" id="autoerror"><br />
			<div class="panel panel-default">
				<div class="panel-heading">错误汇总</div>
				<div class="panel-body">
					<table class="table table-hover table-condensed ">
					<thead><tr class="info"><th class="col-sm-0.5">HTTPCode</th><th class="col-sm-0.5">LogCode</th><th class="col-sm-2">接口</th><th class="col-sm-2">描述</th><th class="col-sm-1">URL</th><th class="col-sm-2">Error</th><th class="col-sm-2">Message</th><th class="col-sm-2">Time</th></tr></thead>
					{% for v in show_errs %}
					<tr><th>{{ v.httpcode }}</th><th>{{ v.log_code }}</th><th style="word-break:break-all">{{ v.method_version }}</th><th>{{ v.name }}</th><th><a href="{{ v.url }}" target="_blank">http://api3g...</a></th><th>{{ v.error }}</th><th>{{ v.message }}</th><th>{{ v.timestamp|date:"Y-m-d H:i" }}</th></tr>
					{% endfor %}
					</table>
				</div>
			</div>
	</div>
</div>

<script>
	var succ_dict = {{ succ_dict|safe }};
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [succ_dict['su_r']  ,  succ_dict['er_r']],
                backgroundColor: [
                    "#1BC98E",
                    "#E64759",
                ],
            }],
            labels: [
                "成功率",
                "失败率",
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: true
            }
        }
    };
    window.onload = function() {
        var ctx1 = document.getElementById("chart-area1").getContext("2d");
        window.myPie = new Chart(ctx1, config);
    };
</script>
{% endblock %}
