{% extends "intbase.html" %}
{% block content %}
{% load myfilter %}

<div class="panel panel-lvmm table-responsive">
	<div class="panel-heading">接口性能自动化报表</div>
	<div class="panel-body">
		<p>以下默认展示的是今日的测试结果</p>
		<p>可自定义查询某段时间范围内的接口数据</p>
		<div class="row">
			<form method="get">
				<div class="form-group">
					<div class="col-md-3">
						<label for="dtp_input2" class="col-md-2 control-label">开始时间</label>
						<div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="from_date" class="form-control" size="16" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" />
					</div>
					<div class="col-md-3"><label for="dtp_input2" class="col-md-2 control-label">结束时间</label>
						<div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input name="to_date" class="form-control" size="16" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" />
					</div>
					<div class="col-md-2"><button class="btn btn-primary" type="submit">开始生成数据</button></div>
				</div>
			</form>
		</div>
	</div>
	<table class="table table-bordered table-hover table-condensed">
	<tr class=""><td >服务器响应<td ><span class="label label-danger">毫秒占比</span></td>
	<td ><span class="label label-danger">1秒占比</span></td>
	<td ><span class="label label-danger">2秒占比</span></td>
	<td ><span class="label label-danger">3秒占比</span></td>
	<td ><span class="label label-danger">4秒占比</span></td>
	<td ><span class="label label-danger">5秒以上</span></td></tr>
	<tr class=""><td >用户响应<td ><span class="label label-danger">毫秒占比</span></td>
	<td ><span class="label label-danger">1秒占比</span></td>
	<td ><span class="label label-danger">2秒占比</span></td>
	<td ><span class="label label-danger">3秒占比</span></td>
	<td ><span class="label label-danger">4秒占比</span></td>
	<td ><span class="label label-danger">5秒以上</span></td></tr>
	</table>
	
{% for k,v in show_dict.items %}
	<table class="table table-bordered table-hover table-condensed">
		<div class="row">
			<tr class="info">
			<td class="col-md-3"><span class="label label-danger">名称</span> <strong>{{ v.name }}</strong></td>
			<td class="col-md-3"><span class="label label-danger">接口</span> <strong>{{ k }}</strong></td>
			<td class="col-md-2"><span class="label label-default">平均总耗时</span>	{{ v.total_time_avg }}s</td>
			<td class="col-md-2"><span class="label label-default">总耗时95%line</span> {{ v.total_time_95line }}s</td>
			<td class="col-md-2"><span class="label label-default">总耗时范围</span> {{ v.total_time_range }}s</td></tr>
			<tr><td class="col-md-12" colspan=4 style="word-break:break-all"><span class="label label-info">URL</span> {{ v.url }}</td></tr>
	</div></table>
	<table class="table table-bordered table-hover table-condensed">
		<div class="row">
			<tr><td class="col-md-2"><span class="label label-default">HTTP错误率</span>	{{ v.error_rate }}%</td>
			<td class="col-md-2"><span class="label label-default">Debug平均耗时</span>	{{ v.log_time_avg }}s</td>
			<td class="col-md-2"><span class="label label-default">DNS平均耗时</span>	{{ v.dns_time_avg }}s</td>
			<td class="col-md-2"><span class="label label-default">建联平均耗时</span>	{{ v.tcp_time_avg }}s</td>
			<td class="col-md-2"><span class="label label-default">服务处理平均耗时</span> {{ v.server_time_avg }}s</td>
			<td class="col-md-1"><span class="label label-default">下载平均耗时</span> {{ v.download_time_avg }}s</td>
			<td class="col-md-1"><span class="label label-default">下载大小</span> {{ v.download_size }}KB</td></tr>
			
			<tr><td rowspan=2><span class="label label-default">Debug错误率</span> {{ v.log_error_rate }}%</td>
			<td><span class="label label-default">Debug耗时范围</span> {{ v.log_time_range }}s</td>
			<td><span class="label label-default">DNS耗时范围</span> {{ v.dns_time_range }}s</td>
			<td><span class="label label-default">建联耗时范围</span> {{ v.tcp_time_range }}s</td>
			<td><span class="label label-default">服务处理耗时范围</span> {{ v.server_time_range }}s</td>
			<td colspan=2><span class="label label-default">下载耗时范围</span> {{ v.download_time_range }}s</td></tr>
			
			<tr>
			<td><span class="label label-default">Debug95%line</span> {{ v.log_time_95line }}s</td>
			<td><span class="label label-default">DNS95%line</span> {{ v.dns_time_95line }}s</td>
			<td><span class="label label-default">建联95%line</span> {{ v.tcp_time_95line }}s</td>
			<td><span class="label label-default">服务处理95%line</span> {{ v.server_time_95line }}s</td>
			<td><span class="label label-default">下载95%line</span> {{ v.download_time_95line }}s</td></tr>
		</div></table>
{% endfor %}
</div>

<!-- <script type="text/javascript">
    var show_dict = {{ show_dict|safe }};
	
</script> -->
 
{% endblock %}
