{% extends "ty_base.html" %}
{% block content %}
<h3>概览图表</h3>
<div class="panel panel-success">
	<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 内网测试环境 接口占比 </div>
</div>
<div class="row">
	<div class="col-lg-9 col-md-12 col-sm-12 col-sx-12">
		<div id="server" style="height:500px">
		</div>
	</div>
	<!-- <div class="col-lg-3 col-md-12 col-sm-12 col-sx-12">
		<h3>所有在测接口首包占比</h3> <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" title="首包时间：经历过DNS解析和TCP3次握手后，从客户端开始发送请求到接收到服务器响应的第一个包的时间。包含NG的队列时间、首包的传输时间、服务端处理时间。由于NG队列和首包时间仅从客户端处无法取得，近似认为首包时间就是服务器的响应时间">首包时间 说明</a>
		<table class="table table-hover table-condensed table-responsive">
		<thead>
		<tr class="info">
		<th>时间区间</th><th>毫秒级</th><th>1~2秒</th><th>2~3秒</th><th>3~4秒</th><th>4~5秒</th><th>5秒以上</th></tr></thead>
		<tbody>
		{% for i in server_list %}
		<TR><TD>{{ i.des }}</TD>
		<TD>{{ i.zero_level}}%</TD>
		<TD>{{ i.one_level}}%</TD>
		<TD>{{ i.two_level}}%</TD>
		<TD>{{ i.three_level}}%</TD>
		<TD>{{ i.four_level}}%</TD>
		<TD>{{ i.five_level}}%</TD></TR>
		{% endfor %}
		</tbody></TABLE>
	</div> -->
</div>
<div class="row">
	<div class="col-lg-9 col-md-12 col-sm-12 col-sx-12">
		<div id="total" style="height:500px">
		</div>
	</div>
	<!-- <div class="col-lg-3 col-md-12 col-sm-12 col-sx-12">
		<h3>总耗时趋势</h3>
		<table class="table table-hover table-condensed table-responsive">
		<thead>
		<tr class="info">
		<th>时间区间</th><th>毫秒级</th><th>1~2秒</th><th>2~3秒</th><th>3~4秒</th><th>4~5秒</th><th>5秒以上</th></tr></thead>
		<tbody>
		{% for i in total_list %}
		<TR><TD>{{i.des}}</TD>
		<TD>{{ i.zero_level}}%</TD>
		<TD>{{ i.one_level}}%</TD>
		<TD>{{ i.two_level}}%</TD>
		<TD>{{ i.three_level}}%</TD>
		<TD>{{ i.four_level}}%</TD>
		<TD>{{ i.five_level}}%</TD></TR>
		{% endfor %}
		</tbody></TABLE>
	</div> -->
</div>
<script>
        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('server'));
        var myChart1 = echarts.init(document.getElementById('total'));
        var option = {
			title : {
				text: '占比趋势--所有在测接口首包时间',
				subtext: '由于有新的接口不断添加和老的接口逐步废弃，因此占比数据会发生波动，该图表更多的是了解当前接口的各级别占比'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				y: 'bottom', // 'center' | 'bottom' | {number}
				data:['毫秒', '1-2秒', '2-3秒', '3-4秒', '4-5秒', '>5秒', ]
			},
			toolbox: {
				show : true,
				feature : {
					 mark : {
						show : true,
						title : {
							mark : '辅助线开关',
							markUndo : '删除辅助线',
							markClear : '清空辅助线'
						},
						lineStyle : {
							width : 2,
							color : '#1e90ff',
							type : 'dashed'
						}
					},
					dataView : {show: true, readOnly: false},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			xAxis : [
				{
					type : 'category',
					boundaryGap : false,
					data : [
					{% for x in server_list %}
					'{{ x.des }}',
					{% endfor %}
					]
				}
			],
			yAxis : [
				{
					type : 'value',
					axisLabel : {
						formatter: '{value} %'
					}
				}
			],
			series : [
				{
					name:'毫秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					markPoint : {
						data : [
							{type : 'max', name: '最大值'},
							{type : 'min', name: '最小值'}
						]
					},
					markLine : {
						data : [
							{type : 'average', name: '平均值'}
						]
					},
					data:[
					{% for x in server_list %}
					{{ x.zero_level }},
					{% endfor %}
					]
				},
				{
					name:'1-2秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in server_list %}
					{{ x.one_level }},
					{% endfor %}
					]
				},
				{
					name:'2-3秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in server_list %}
					{{ x.two_level }},
					{% endfor %}
					]
				},
				{
					name:'3-4秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in server_list %}
					{{ x.three_level }},
					{% endfor %}
					]
				},
				{
					name:'4-5秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in server_list %}
					{{ x.four_level }},
					{% endfor %}
					]
				},
				{
					name:'>5秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in server_list %}
					{{ x.five_level }},
					{% endfor %}
					]
				},
			]
		};

		var option1 = {
			title : {
				text: '占比趋势--总耗时',
				subtext: '包含网络耗时，存在一定的网络干扰因素',
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				y: 'bottom', // 'center' | 'bottom' | {number}
				data:['毫秒', '1-2秒', '2-3秒', '3-4秒', '4-5秒', '>5秒', ]
			},
			toolbox: {
				show : true,
				feature : {
					 mark : {
						show : true,
						title : {
							mark : '辅助线开关',
							markUndo : '删除辅助线',
							markClear : '清空辅助线'
						},
						lineStyle : {
							width : 2,
							color : '#1e90ff',
							type : 'dashed'
						}
					},
					dataView : {show: true, readOnly: false},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			xAxis : [
				{
					type : 'category',
					boundaryGap : false,
					data : [
					{% for x in total_list %}
					'{{ x.des }}',
					{% endfor %}
					]
				}
			],
			yAxis : [
				{
					type : 'value',
					axisLabel : {
						formatter: '{value} %'
					}
				}
			],
			series : [
				{
					name:'毫秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					markPoint : {
						data : [
							{type : 'max', name: '最大值'},
							{type : 'min', name: '最小值'}
						]
					},
					markLine : {
						data : [
							{type : 'average', name: '平均值'}
						]
					},
					data:[
					{% for x in total_list %}
					{{ x.zero_level }},
					{% endfor %}
					]
				},
				{
					name:'1-2秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in total_list %}
					{{ x.one_level }},
					{% endfor %}
					]
				},
				{
					name:'2-3秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in total_list %}
					{{ x.two_level }},
					{% endfor %}
					]
				},
				{
					name:'3-4秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in total_list %}
					{{ x.three_level }},
					{% endfor %}
					]
				},
				{
					name:'4-5秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in total_list %}
					{{ x.four_level }},
					{% endfor %}
					]
				},
				{
					name:'>5秒',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[
					{% for x in total_list %}
					{{ x.five_level }},
					{% endfor %}
					]
				},
			]
		};

        // 为echarts对象加载数据
        myChart.setOption(option);
		myChart1.setOption(option1);
</script>
{% endblock %}
