{% extends "int_base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-lg-4 col-xs-6 col-sm-6">
		<!-- <div class="alert alert-warning" role="alert">默认是今日的测试结果</div> -->
		<form role="form" method="get">
			<div class="form-group">
				<label for="dtp_input2">开始时间</label>
				<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
					<input name="from_date" size="16"  class="form-control" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				</div>
				<input type="hidden" id="dtp_input2" value="" />
			</div>
			<div class="form-group">
				<label for="dtp_input2">结束时间</label>
				<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
					<input name="to_date" size="16"  class="form-control" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				</div>
				<input type="hidden" id="dtp_input2" value="" />
			</div>
			<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button> （默认当天）
		</form>				
	</div>
</div>

<ul class="nav nav-pills nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#autoerror" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-remove"></span> 错误<span class="badge"> {{ show_errs|length}}</span></a></li>
</ul>
<div class="tab-content">	
	<div role="tabpanel" class="tab-pane fade in active" id="autoerror"><br />
			<div class="panel panel-default">
				<div class="panel-heading">错误汇总</div>
				<div class="panel-body">
					<table class="table table-hover table-condensed "  data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle" style="word-break:break-all;">
					<thead><tr class="info">
					<th data-sortable="true" data-width="1%">HTTPCode</th>
					<th data-sortable="true" data-width="1%">LogCode</th>
					<th data-sortable="true" data-width="20%">接口</th>
					<th data-sortable="true" data-width="20%">描述</th>
					<th data-sortable="true" data-width="1%">URL</th>
					<th data-sortable="true" data-width="20%">Error</th>
					<th data-sortable="true" data-width="20%">Message</th>
					<th data-sortable="true" data-width="5%">Time</th>
					</tr></thead>	
					{% for v in show_errs %}
					<tr>
					<td>{{ v.httpcode }}</td>
					<td>{{ v.log_code }}</td>
					<td style="word-break:break-all">{{ v.method_version }}</td>
					<td>{{ v.name }}</td>
					<td><a href="{{ v.url }}" target="_blank">URL</a></td>
					<td>{{ v.error }}</td>
					<td>{{ v.message }}</td>
					<td>{{ v.timestamp|date:"Y-m-d H:i" }}</td>
					</tr>
					{% endfor %}
					</table>
				</div>
			</div>
	</div>
</div>

{% endblock %}
