{% extends "ty_base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-lg-4 col-xs-6 col-sm-6">
		<!-- <div class="alert alert-warning" role="alert">默认是今日的测试结果</div> -->
		<form role="form" method="get">
			<div class="form-group">
				<label for="dtp_input2">开始时间</label>
				<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
					<input name="from_date" size="16"  class="form-control" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				</div>
				<input type="hidden" id="dtp_input2" value="" />
			</div>
			<div class="form-group">
				<label for="dtp_input2">结束时间</label>
				<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
					<input name="to_date" size="16"  class="form-control" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				</div>
				<input type="hidden" id="dtp_input2" value="" />
			</div>
			<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button> （默认当天）
		</form>				
	</div>
</div>

<ul class="nav nav-pills nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#autoint" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> 接口(以平均总耗时排序)<span class="badge"> {{ ints_dict|length}}</span></a></li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="autoint"><br />
	
		<table data-toggle="table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-row-style="rowStyle" style="word-break:break-all;" data-height='1000'>
			<thead><tr>
				<th data-field="详情" data-width="85%">详情</th>
				<th data-field="首包时间" data-sortable="true" data-width="1%">首包/秒</th>
				<th data-field="整体耗时时间" data-sortable="true" data-width="1%">总耗时/秒</th>
				<th data-field="大小" data-sortable="true" data-width="1%">大小KB</th>
				</tr></thead>
			<tbody>
			{% for k,v in ints_dict %}
			<tr>
				<td>
					<table class="table  table-hover table-condensed">
						<tr class="info">
							<td class="col-sm-2"><a type="button" class="btn btn-sm btn-primary" href='{{ v.url }}' target='_blank' data-toggle="tooltip" data-placement="right" title="{{ v.url }}">URL</a></td>
							<td class="col-sm-6"><strong>{{ k }}</strong></td>
							<td class="col-sm-4"><span class="label sr-only">名称</span> <strong>{{ v.name }}</strong></td>
						</tr>
					</table>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" style="width: {{ v.dns_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="DNS解析:{{ v.dns_time_avg }}">
							<span>{{ v.dns_time_avg }}s</span>
						</div>
						<div class="progress-bar progress-bar-info" style="width: {{ v.tcp_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="建联:{{ v.tcp_time_avg }}">
							<span>{{ v.tcp_time_avg }}s</span>
						</div>
						<div class="progress-bar progress-bar-success" style="width:{{ v.server_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="服务处理:{{ v.server_time_avg }}">
							<span>{{ v.server_time_avg }}s</span>
						</div>
						<div class="progress-bar progress-bar-danger" style="width: {{ v.download_time_rate }}%"  data-toggle="tooltip" data-placement="top" title="下载:{{ v.download_time_avg }}">
							<span>{{ v.download_time_avg }}s</span>
						</div>
					</div>
					<table class="table table-bordered table-hover table-condensed">
						<tr class="info"><td>#</td><td>DNS</td><td>建联</td><td>首包时间</td><td>下载</td><td class="warning">总耗时</td><td class="warning">日志时间</td></tr>
						<tr><td class="info">平均耗时</td><td> {{ v.dns_time_avg }}s</td><td>{{ v.tcp_time_avg }}s</td><td>{{ v.server_time_avg }}s</td><td>{{ v.download_time_avg }}s</td><td>{{ v.total_time_avg }}s</td><td>{{ v.log_time_avg }}s</td></tr>
						<tr><td class="info">95%Line</td><td> {{ v.dns_time_95line }}s</td><td>{{ v.tcp_time_95line }}s</td><td>{{ v.server_time_95line }}s</td><td>{{ v.download_time_95line }}s</td><td>{{ v.total_time_95line }}s</td><td>{{ v.log_time_95line }}s</td></tr>
						<tr><td class="info">耗时范围</td><td>{{ v.dns_time_range }}s</td><td>{{ v.tcp_time_range }}s</td><td>{{ v.server_time_range }}s</td><td>{{ v.download_time_range }}s</td><td>{{ v.total_time_range }}s</td><td>{{ v.log_time_range }}s</td></tr>
					</table>
				</td>
				<td>{{ v.server_time_avg }}</td>
				<td>{{ v.total_time_avg }}</td>
				<td>{{ v.download_size }}</td>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
